<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <aside>
    <div class="grid-4">
      <% unless @filter_by_location.present? %>
        <%= render 'new_partials/aside/projects' %>
      <% end %>

      <% if @site.navigate_by_country %>
        <%= render 'new_partials/aside/countries' %>
      <% else %>
        <%= render 'new_partials/aside/regions' %>
      <% end %>

      <% unless @filter_by_organization.present? %>
        <%= render 'new_partials/aside/affiliated_organizations' %>
      <% end %>

      <% unless @filter_by_location.present? || @donor_projects_by_location.empty? %>
        <%= render 'new_partials/aside/project_locations' %>
      <% end %>

      <% unless @site.nil? || @filter_by_category.present? || @donor_projects_clusters_sectors.empty? %>
        <%= render 'new_partials/aside/project_sectors' %>
      <% end %>

      <% if @contact_data[:show] %>
        <%= render 'new_partials/aside/contact_info' %>
      <% end %>

      <% unless @donor.twitter.blank? && @donor.facebook.blank? && @donor.website.blank? %>
        <%= render 'new_partials/aside/follow_us' %>
      <%end%>
    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <h2 class="section-title"><%= @donor.name.html_safe %></h2>

      <%= render 'new_partials/downloads' %>

      <%= render 'new_partials/index_projects' %>
  </section>
</div>
