<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <div class="grid-4">
    <aside class="layout-sidebar">

      <% unless @filter_by_location.present? %>
        <%= render 'new_partials/aside/projects' %>
      <% end %>

      <% if @site.navigate_by_country %>
        <%= render 'new_partials/aside/countries' %>
      <% else %>
        <%= render 'new_partials/aside/regions' %>
      <% end %>

      <% unless @filter_by_organization.present? %>
        <%= render 'new_partials/aside/affiliated_organizations' %>
      <% end %>

      <% unless @filter_by_location.present? || @donor_projects_by_location.empty? %>
        <%= render 'new_partials/aside/project_locations' %>
      <% end %>

      <% unless @site.nil? || @filter_by_category.present? || @donor_projects_clusters_sectors.empty? %>
        <%= render 'new_partials/aside/project_sectors' %>
      <% end %>

      <%= @donor.contact_person_name %>
      <% if @contact_data[:show] %>
        <%= render 'new_partials/aside/contact_info' %>
      <% end %>

    </aside>
  </div>

  <div class="grid-12 offset-1">
    <section class="layout-content">

      <%= render 'new_partials/aside/follow_us' %>

      <header>
        <h1 class="section-title"><%= @donor.name.html_safe %></h1>
        <%= simple_format(@donor.description.squish.truncate(800)) if @donor.description.present? %>
      </header>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => donor_path(@donor, @carry_on_filters.merge(:format => :csv)), :xls_path => donor_path(@donor, @carry_on_filters.merge(:format => :xls)), :kml_path => donor_path(@donor, @carry_on_filters.merge(:format => :kml)) } %>

      <div class="articles-list">
        <% unless @projects.empty? %>
          <ul>
            <% @projects.each_with_index do |project,index| %>
              <li>
                <article class="mod-index-item">
                  <h2><%= link_to(truncate(project['project_name'], :length=>65), project_path(project['project_id'])) %></h2>
                  <span>
                    <%= subtitle_donors_page(project, @site, donor_path( params[:id], @carry_on_filters.merge(:organization_id => project["organization_id"].to_i) ) ) %>
                  </span>
                  <p>
                    <%= anglo(truncate(project['project_description'], :length => 175, :omission => "... <a href=\"#{project_path(project['project_id'])}\" class=\"learn_more\">Learn more</a>")) %>
                  </p>
                </article>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <li>
              <article class="mod-index-item">
                <p class="no_results">No projects were found for this donor</p>
              </article>
            </li>
          </ul>
        <% end %>
      </div>

      <div class="mod-pagination" id="projects_view_more">
        <% if @projects.total_pages > 1 %>
          <ul>
            <% if @projects.current_page > 1 -%>
              <li>
                <%= link_to('< previous', pagination_link(previous_pagination_params), :id =>'previous') %>
                <% end -%>
              </li>

              <li>
                <% if @projects.current_page < @projects.total_pages -%>
                  <%= link_to('next >', pagination_link(next_pagination_params), :id =>'next') %>
                <% end -%>
              </li>
          </ul>
        <% end %>
      </div>

    </section>
  </div>
</div>
