<% content_for :js_vars do %><% end %>

<div class="row">
  <div class="grid-4">
    <aside class="layout-sidebar">

    </aside>
  </div>

  <div class="grid-12 offset-1">
    <section class="layout-content">

      <%= render 'new_partials/aside/follow_us' %>

      <header>
        <h1 class="section-title">Search projects</h1>

        <% unless @projects.present? %>
          <p>No projects were found for '<%= params[:q] %>'</p>
        <% end %>
      </header>

      <% if @projects.present? %>
        <div class="articles-list">
          <ul>
            <% @projects.each_with_index do |project,index| %>
              <li>
                <article class="mod-index-item">
                  <h2><%= link_to(truncate(project['project_name'],:length=>43,:omission=>"..."), project_path(project['project_id'])) %></h2>
                  <span>by <%= link_to(project['organization_name'], organization_path(project['organization_id'])) %></span>
                  <p>
                    <% regions = project['regions'] ? project['regions'].text2array : [] %>
                    <% regions.slice!(0, 2).each do |region| %>
                        <%= "#{region}, #{project['countries'].text2array}"%>
                    <% end %>
                    <% if regions.count > 0 %>and <%= content_tag :span, "#{regions.count} more" %><% end %>
                  </p>
                </article>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </section>
  </div>
</div>
