<% content_for :js_vars do %>
  <script>
  </script>
<% end %>

<div class="row">
  <div class="grid-4">
    <aside class="layout-sidebar mod-form" id="searchSidebar">
      <!-- TODO: Sidebar search -->

        <div class="block search">
          <form method="get">
            <%= text_field_tag :q, params[:q], :placeholder => 'Search' %>
            <%= submit_tag '' %>
          </form>
        </div>

        <div class="block region">
          <h3><%= @site.word_for_regions %></h3>
          <ul class="filter_list">
            <% @filtered_regions.each do |filtered_region| %>
              <li>
                <%= "#{filtered_region.title}, #{filtered_region.subtitle}" %><%= link_to image_tag('sites/search/autocomplete_x.png', :alt => 'delete'), '#', :class => 'delete', :rel => filtered_region.id %>
              </li>
            <% end %>
          </ul>
          <input type="text" id="autocomplete_regions" class="autocomplete" placeholder="<%= @filtered_regions.any?? "Add a #{@site.word_for_regions.downcase.singularize}" : "All #{@site.word_for_regions.downcase}" %>" />
          <%= hidden_field_tag('regions_ids', @filtered_regions.map(&:id).join(','), :class => 'regions ids') %>
        </div>

        <% if @navigate_by_cluster %>
          <div class="block cluster">
            <h3><%= @site.word_for_clusters %></h3>
            <ul class="filter_list">
              <% @filtered_clusters.each do |filtered_cluster| %>
                <li>
                  <%= filtered_cluster.title %><%= link_to image_tag('sites/search/autocomplete_x.png', :alt => 'delete'), '#', :class => 'delete', :rel => filtered_cluster.id %>
                </li>
              <% end %>
            </ul>
            <input type="text" id="autocomplete_clusters" class="autocomplete" placeholder="<%= @filtered_clusters.any?? "Add a #{@site.word_for_clusters.singularize}" : "All #{@site.word_for_clusters}" %>" />
            <%= hidden_field_tag('clusters_ids', @filtered_clusters.map(&:id).join(','), :class => 'clusters ids') %>
          </div>
        <% else %>
          <div class="block sector">
            <h3><%= @site.word_for_clusters %></h3>
              <ul class="filter_list">
                <% @filtered_sectors.each do |filtered_sector| %>
                  <li>
                    <%= filtered_sector.title %><%= link_to image_tag('sites/search/autocomplete_x.png', :alt => 'delete'), '#', :class => 'delete', :rel => filtered_sector.id %>
                  </li>
                <% end %>
              </ul>
              <input type="text" id="autocomplete_sectors" class="autocomplete" placeholder="<%= @filtered_sectors.any?? "Add a #{@site.word_for_clusters.singularize}" : "All #{@site.word_for_clusters}" %>" />
              <%= hidden_field_tag('sectors_ids', @filtered_sectors.map(&:id).join(','), :class => 'sectors ids') %>
          </div>
        <% end %>

        <div class="block organization">
          <h3>Organization</h3>
            <ul class="filter_list">
              <% @filtered_organizations.each do |filtered_organization| %>
                <li>
                  <%= filtered_organization.title %><%= link_to image_tag('sites/search/autocomplete_x.png', :alt => 'delete'), '#', :class => 'delete', :rel => filtered_organization.id %>
                </li>
              <% end %>
            </ul>
            <input type="text" id="autocomplete_organizations" class="autocomplete" placeholder="<%= @filtered_organizations.any?? "Add a organization" : "All organizations" %>" />
            <%= hidden_field_tag('organizations_ids', @filtered_organizations.map(&:id).join(','), :class => 'organizations ids') %>
        </div>

        <div class="block donor">
          <h3>Donor</h3>
            <ul class="filter_list">
              <% @filtered_donors.each do |filtered_donor| %>
                <li>
                  <%= filtered_donor.title %><%= link_to image_tag('sites/search/autocomplete_x.png', :alt => 'delete'), '#', :class => 'delete', :rel => filtered_donor.id %>
                </li>
              <% end %>
            </ul>
            <input type="text" id="autocomplete_donors" class="autocomplete" placeholder="<%= @filtered_donors.any?? "Add a donor" : "All donors" %>" />
            <%= hidden_field_tag('donors_ids', @filtered_donors.map(&:id).join(','), :class => 'donors ids') %>
        </div>

        <div class="block active">
          <h3>Project status</h3>
            <%= select_tag :status, options_for_select(['Any', 'Active', 'Inactive'], params[:status]), :class => :"chzn-select" %>
        </div>

        <div class="block">
          <h3>Starting after <%= link_to 'Clear', '#', :class => 'clear_date start_date' if @start_date %></h3>
            <%= select_year @start_date, :field_name => 'start_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
            <%= select_month @start_date, :field_name => 'start_month', :prompt => 'Month' %>
        </div>

        <div class="block">
          <h3>Ending before <%= link_to 'Clear', '#', :class => 'clear_date end_date' if @end_date %></h3>
            <%= select_year @end_date, :field_name => 'end_year', :prompt => 'Year', :start_year => 1980, :end_year => 2030 %>
            <%= select_month @end_date, :field_name => 'end_month', :prompt => 'Month' %>
        </div>
      <!-- TODO -->
    </aside>
  </div>

  <div class="grid-12 offset-1">
    <section class="layout-content">
      <header>
        <h1 class="section-title">Search projects</h1>
      </header>
      <div class="mod-search">
        <% if @projects.present? and @projects.any? %>
          <p>Showing results for: <strong>'<%= params[:q] %>'</strong></p>
        <% else %>
          <p>No projects were found for <strong>'<%= params[:q] %>'</strong></p>
        <% end %>
      </div>

      <% if @projects.present? %>
        <div class="articles-list">
          <ul>
            <% @projects.each_with_index do |project,index| %>
              <li>
                <article class="mod-index-item">
                  <h2><%= link_to(truncate(project['project_name'],:length=>43,:omission=>"..."), project_path(project['project_id'])) %></h2>
                  <span>by <%= link_to(project['organization_name'], organization_path(project['organization_id'])) %></span>
                  <p>
                    <% regions = project['regions'] ? project['regions'].text2array : [] %>
                    <% regions.slice!(0, 2).each do |region| %>
                        <%= "#{region}, #{project['countries'].text2array}"%>
                    <% end %>
                    <% if regions.count > 0 %>and <%= content_tag :span, "#{regions.count} more" %><% end %>
                  </p>
                </article>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render 'search/pagination' %>

    </section>
  </div>
</div>
