<%= render 'partials/map' %>

<%= render 'partials/categories_selector' %>

<div class="row">
  <aside class="layout-sidebar">
    <div class="grid-4">
      <%= render 'partials/aside/projects' %>

      <%= render 'partials/aside/organizations' %>

      <%= render 'partials/aside/countries' %>

      <%= render 'partials/aside/regions' %>

      <%= render 'partials/aside/follow_us' %>

      <%= render 'partials/aside/affiliated_organizations' %>

      <%= render 'partials/aside/project_locations' %>

      <%= render 'partials/aside/project_sectors' %>

      <%= render 'partials/aside/some_organizations' %>

      <%= render 'partials/aside/donors_in_this_country' %>

      <%= render 'partials/aside/organizations_in_this_country' %>

      <%= render 'partials/aside/location' %>

      <%= render 'partials/aside/reporting_organization' %>

      <%= render 'partials/aside/project_time_line' %>

      <%= render 'partials/aside/proyect_budget' %>

      <%= render 'partials/aside/donors' %>

      <%= render 'partials/aside/prime_awardee' %>

      <%= render 'partials/aside/local_partners' %>

      <%= render 'partials/aside/people_reached' %>

      <%= render 'partials/aside/target_groups' %>

      <%= render 'partials/aside/contact_info' %>

      <%= render 'partials/aside/proyect_website' %>

      <%= render 'partials/aside/export_data' %>
    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <h2 class="section-title">Featured Projects</h2>

      <%= render 'partials/downloads' %>

      <div class="articles-list">
        <ul>
          <%= render 'partials/index_projects' %>
        </ul>
      </div>

  </section> <!-- content -->
</div>

