<div class="main_layout mod-backoffice-stories">
    <div class="block">
        <div class="long_search">
            <span class="top"></span>
            <div class="content padding">
                <%= form_tag(admin_stories_path, :method => :get, :class => 'search') do %>
                    <label>SEARCH BY TEXT</label>
                    <input type="text" value="<%= params[:q] %>" placeholder="Search story text and names" name="q" class="main_search"/>
                    <input type="submit" value="" />
                    
                    <ul class="combos">
                        <li class="comboselect status">
                            <label>NAME</label>
                            <%= select_tag :name,
                                options_for_select(Story.all.map(&:name).uniq.compact.sort, params[:name]), {:include_blank => 'Any', :class => :"chzn-select"} %>
                        </li>
                        
                        <li class="comboselect status">
                            <label>ORGANIZATION</label>
                            <%= select_tag :organization,
                                options_for_select(Story.all.map(&:organization).uniq.compact.sort, params[:organization]), {:include_blank => 'Any', :class => :"chzn-select"} %>
                        </li>
                        
                        <li class="comboselect status">
                            <label>REVIEWED</label>
                            <%= select_tag :reviewed,
                                options_for_select([['Yes',true],['No',false]], params[:reviewed]), {:include_blank => 'Any', :class => :"chzn-select"} %>
                        </li>
                        
                        <li class="comboselect status">
                            <label>PUBLISHED</label>
                            <%= select_tag :published,
                                options_for_select([['Yes',true],['No',false]], params[:published]), {:include_blank => 'Any', :class => :"chzn-select"} %>
                        </li>
                    </ul>
                <% end %>
            </div>
            <span class="bottom"></span>
        </div>
    </div>

    <div class="block">
        <div class="top"></div>
            <div class="med ngos_list">
                <% if !@stories.empty? %>
                    <div class="header no_border">
                        <h2><%= pluralize(number_with_delimiter(@stories_query_total, :delimiter => ','), 'story') %></h2>
                        <% if @conditions.any? %>
                            <div class="clearfix"></div>
                            <h5>FILTERS</h5>
                            <ul>
                                <% @conditions.each do |k,v| %>
                                    <li>
                                        <%= k.capitalize %>:  <strong><%= v %></strong>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <span class="buttons">
                            <a class="add_project museo_sans shadow_green" href="<%= new_admin_story_path %>">New Story</a>
                        </span>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="th first">Name</th>
                                <th class="th">Organization</th>
                                <th class="th">Created</th>
                                <th class="th text-center">Reviewed</th>
                                <th class="th text-center">Published</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @stories.each do |story| %>
                                <tr class="tr">
                                    <td class="td first"><%= link_to story.name, edit_admin_story_path(story) %></td>
                                    <td class="td"><%= story.organization %></td>
                                    <td class="td"><%= story.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                                    <td class="td"><div class="circle <%= story.reviewed? ? "true" : "falsy" %>"></div></td>
                                    <td class="td"><div class="circle <%= story.published? ? "true" : "falsy" %>"></div></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="no_results">
                        <h2>There are no stories in this site</h2>
                        <p><a href="<%= new_admin_story_path %>">Add new one</a>.</p>
                    </div>
                <% end %>
            </div>
            <div class="bottom_grey paginate">
                <%= will_paginate(@stories) %>
            </div>
        </div>
        <div class="add_new">
            <a href="<%= new_admin_story_path %>">
            Add a new story<br/>
            <strong>There are already <%= pluralize(Story.count, 'Story') %></strong>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".chzn-select").chosen();
</script>