<section class="categories-selector">
  <div class="row">
    <div class="grid-17">

      <nav class="mod-categories-selector">
        <ul>

          <% if @site.cluster %>
            <li><a href="<%= cluster_path(@site.cluster) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a></li>
          <% elsif @site.sector %>
            <li><a href="<%= sector_path(@site.sector) %>"><%= @site.word_for_cluster_sector.upcase.singularize %></a></li>
          <% else %>
            <li id="<%= @site.navigate_by_cluster? ? 'cluster' : 'sector' %>_option">
              <a href="#"><%= @site.word_for_cluster_sector.upcase %></a>
              <ul class="mod-categories-child">
                <% @site.clusters_or_sectors.reject{|c| c.name.eql?('N/A') || c.total_projects(@site) == 0}.each do |category| %>
                  <li>
                    <a href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>">
                      <% if category.name.size>25 %>
                        <%= category.name[0..22] + '...' %>
                      <% else %>
                        <%= category.name %>
                      <% end %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <li>
            <a href="#">Organizations</a>
            <ul class="mod-categories-child">
              <% @site.organizations_select.each do |organization| %>
                <li><a href="<%= organization_path(organization) %>"><%= organization.name %></a></li>
              <% end %>
            </ul>
          </li>

          <li>
            <a href="#">Donors</a>
            <ul class="mod-categories-child">
              <% @site.donors_select.each do |donor| %>
                <li><a href="<%= donor_path(donor) %>"><%= CGI.unescapeHTML(donor.name) %></a></li>
              <% end %>
            </ul>
          </li>

          <li><a href="#" class="country">country</a></li>
          <li><a href="#" class="region">region</a></li>
          <li><a href="#" class="search">search</a></li>
        </ul>
      </nav>
      <a href="http://www.fedex.com/"><img src="" alt="FedEx logo"></a>
>>>>>>> 86e4310ad2186b9f564850b062c48fcc826cd10a
    </div>
  </div>
</section>
