<div class="mod-filtered-categories">
  <div class="row">
    <% unless title.empty? %>
      <div class="grid-13">
        <% if @filter_name.present? || @filter_by_location || @filter_by_category || @filter_by_organization %>
          <p class="filtered">
            <strong>Showing</strong>:
            <% if @organization %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= link_to raw(@filter_name), organization_path(@organization), :class => 'filter' %>
            <% elsif @donor %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= link_to raw(@filter_name), donor_path(@donor), :class => 'filter' %>
            <% elsif @area %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= link_to raw(@filter_name), location_path(@area), :class => 'filter' %>
            <% elsif @site.navigate_by_cluster? %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= link_to raw(@filter_name), cluster_path(params[:category_id]), :class => 'filter' %>
            <% else @site.navigate_by_sector? %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= link_to raw(@filter_name), sector_path(params[:category_id]), :class => 'filter' %>
            <% end %>
          </p>
        <% else %>
          <p class="filtered">
            <strong>Showing</strong>:
            <% if @donor && @projects_count %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= @projects_count %> <% if @projects_count === 1 %>project<% else %>projects<% end %>
            <% elsif @organization_projects_count %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= @organization_projects_count %> <% if @organization_projects_count === 1 %>project<% else %>projects<% end %>
            <% elsif @cluster_sector_projects_count  %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= @cluster_sector_projects_count %> <% if @cluster_sector_projects_count === 1 %>project<% else %>projects<% end %>
            <% elsif @georegion_projects_count %>
              <strong><%= CGI.unescapeHTML(title) %></strong>, <%= @georegion_projects_count %> <% if @georegion_projects_count === 1 %>project<% else %>projects<% end %>
            <% else %>
              <strong><%= CGI.unescapeHTML(title) %></strong>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>

    <div class="<% unless title.empty? %>grid-4<% else %>grid-17<% end %>">
      <a href="#content" class="btn-go-to-projects">View projects list</a>
    </div>
  </div>
</div>
