<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<script>
  <% if @area.is_a?(Country) && @site.navigate_by_regions? %>
    map_type = 'administrative_map';
  <% else %>
    map_type = 'georegion';
  <% end  %>
</script>

<div class="row">
  <aside>
    <div class="grid-4">
      <% unless @filter_by_location.present? %>
        <%= render 'new_partials/aside/projects' %>
      <% end %>
    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <h1 class="section-title"><%= @area.name %></h1>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => location_path(@area, @carry_on_filters.merge(:format => :csv)), :xls_path => location_path(@area, @carry_on_filters.merge(:format => :xls)), :kml_path => location_path(@area, @carry_on_filters.merge(:format => :kml)) } %>

      <%= render "new_partials/index_projects" %>

    </div>
  </section>
</div>
