<div class="main_layout mod-backoffice-tags">
    <div class="block">
        <div class="long_search">
            <span class="top"></span>
            <div class="content padding">
                <%= form_tag(admin_tags_path, :method => :get, :class => 'search') do %>
                    <label>SEARCH BY TEXT</label>
                    <input type="text" value="<%= params[:q] %>" placeholder="Tag name or description" name="q" class="main_search"/>
                    <input type="submit" value="" />
                <% end %>
            </div>
            <span class="bottom"></span>
        </div>
    </div>

    <div class="block">
        <div class="top"></div>
            <div class="med ngos_list">
                <% if !@tags.empty? %>
                    <div class="header no_border">
                        <h2><%= pluralize(@tags.count, 'Tag') %></h2>
                        <% if @conditions.any? %>
                            <div class="clearfix"></div>
                            <h5>FILTERS</h5>
                            <ul>
                                <% @conditions.each do |k,v| %>
                                    <li>
                                        <%= k.capitalize %>:  <strong><%= v %></strong>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <span class="buttons">
                            <a class="add_project museo_sans shadow_green" href="<%= new_admin_tag_path %>">New Tag</a>
                        </span>
                    </div>
                    
                    <ul class="tag-list">
                        <% @tags.each do |tag| %>
                            <li class="tag-list-item">
                                <p class="tag-list-item-name"><%= link_to(truncate(tag.name, :length => 60), edit_admin_tag_path(tag)) %></p>
                                <p class="red"><%= link_to(pluralize(tag.projects.count,' project','projects'), admin_tag_projects_path(tag)) %></a></p>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    <div class="no_results">
                        <h2>There are no tags in this site</h2>
                        <p><a href="<%= new_admin_tag_path %>">Add new one</a>.</p>
                    </div>
                <% end %>
            </div>
            <div class="bottom_grey paginate">
                <%= will_paginate(@tags) %>
            </div>
        </div>
        <div class="add_new">
            <a href="<%= new_admin_tag_path %>">
            Add a new tag<br/>
            <strong>There are already <%= pluralize(Tag.count, 'Tag') %></strong>
            </a>
        </div>
    </div>
</div>