<%= form_for(@project, :url => (@project.new_record? ? admin_projects_path : admin_project_path(@project)), :html => {:class =>'mod-backoffice-project-form'}) do |f| %>

    <!-- ##################### PROJECT IDENTIFICATION ##################### -->
    <% if @project.errors.full_messages.any? %>
        <div class="form_error">
            <% @project.errors.full_messages.each do |error_message| %>
                <p><%= error_message %></p> <br />
            <% end %>
        </div>
    <% end -%>

    <h3 class="section museo_sans">PROJECT IDENTIFICATION</h3>
    <div class="field">
        <%= f.label :primary_organization_id, 'Organization' %>
        <% if @project.errors[:primary_organization_id].present? %>
            <span id="hidden" class="error">
                <%= errors_for @project, :primary_organization_id %>
                <a class="organization"><%= @project.primary_organization.try(:name) %></a>
            </span>
        <% end %>
        <% if @admin %>
            <%= f.select :primary_organization_id, Organization.interaction_members(true).order(:name).select([:id,:name]).map { |i| [i.name, i.id] }, {:prompt=>'Select an Organization'}, {:class => 'full-width'} %>
        <% else %>
            <%= f.select :primary_organization_id, options_for_select([[@project.primary_organization.try(:name), @project.primary_organization.try(:id)]]), {}, {:class => 'full-width'} %>
        <% end %>
    </div>
  
    <div class="field identifier">
        <table>
            <thead>
                <p class="help-text">Add your organization's identifier(s) for this project (formerly "organization intervention id") here by selecting your organization from the dropdown. You can add other identifiers here as well, e.g. from your donor contracts.  InterAction identifiers are automatically assigned upon project creation.</p>
                <tr>
                    <th class="field-label">Project Identifier</th>
                    <th class="field-label">Assigned By</th>
                    <% unless action_name.eql?('new') %>
                        <th class="field-label"></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <%= f.fields_for :identifiers do |i| %>
                    <tr>
                        <td><%= i.text_field :identifier, :placeholder => 'Add Identifier', :class => 'field-input identifier-id', :readonly => i.object.assigner_org_id.eql?(Organization.where(:name => 'InterAction').first.id) ? true : false %></td>
                        <td><%= i.collection_select :assigner_org_id, Organization.order(:name).select([:name,:id]), :id, :name, { :include_blank => true }, {:'data-placeholder' => 'Select an Organization', :'data-org-id' => @project.primary_organization.try(:id), :class => "field-select #{@org_intervention_class}", :disabled => i.object.assigner_org_id.eql?(Organization.where(:name => 'InterAction').first.id) ? true : false } %></td>
                        <% unless action_name.eql?('new') %>
                            <td class="remove-identifier-container" title="Remove Identifier">
                                <% unless i.object.assigner_org_id.eql?(Organization.where(:name => 'InterAction').first.id) %>
                                    <span class="custom-checkbox" unchecked></span>
                                    <%= i.check_box '_destroy', :class => 'checkbox' %>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="add-identifier-link">
            <span id="add_identifier" class="link">Add More</span>
        </div>
    </div>
  
    <div class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Tags', :text => 'Tags are used to categorize projects for featured maps and other datasets that are specific to a common issue, event, or crisis.'} %>
        
        <%= f.collection_select :tag_ids, Tag.order('count desc, name asc'), :id, :name, {}, 'data-placeholder' => 'Add tag(s)', :multiple => true %>
    </div>

    <!-- ##################### PROJECT DETAILS ##################### -->
    <h3 class="section museo_sans">PROJECT DETAILS</h3>
    <div class="field">
        <%= render :partial => 'field-label', :locals => {:required => true, :label => 'Project Name', :text => 'The official title of the project, preferable the official name used in program/project/etc documents.'} %>
        
        <span class="input_large <%= 'error' if !@project.errors[:name].empty? && action_name != 'new' %>">
            <%= f.text_field :name, :class=>"long #{'error' if !@project.errors[:name].empty? && action_name != 'new'}" %>
            <%= errors_for @project, :name %>
        </span>
    </div>
    
    <div class="field">
        <span class="chars">
            <%= render :partial => 'field-label', :locals => {:required => true, :label => 'Description', :text => 'Brief description of the project (at least 150 words), including if possible, goals and/or objectives.'} %>
            <% description = f.object.description || '' %>
            <p id="chars_left_description"><%= 10000 - description.length %> chars left</p>
        </span>

        <span class="textarea <%= 'error' if !@project.errors[:description].empty? && action_name != 'new' %>">
            <div class="wrapper">
                <%= f.text_area :description, :maxlength => 10000, :class => "#{'error' if !@project.errors[:description].empty? && action_name != 'new'}", :onkeyup=> "limitChars('project_description', 10000, 'chars_left_description')" %>
            </div>
        </span>

    </div>
    
    <div class="field">
        <span class="chars">
            <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Activities', :text => 'Description of project activities.'} %>
            <% activities = f.object.activities || '' %>
            <p id="chars_left_activities"><%= 10000 - activities.length %> chars left</p>
        </span>
        <span class="textarea">
            <%= f.text_area :activities, :onkeyup=> "limitChars('project_activities', 10000, 'chars_left_activities')"%>
        </span>
    </div>
    
    <div class="field">
        <span class="chars">
            <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Additional Information', :text => 'Optional field that can be used to provide additional information on the project, such as progress to date, results data, etc.'} %>
            <% additional_information = f.object.additional_information || '' %>
            <p id="chars_left_aditional_info"><%= 10000 - additional_information.length %> chars left</p>
        </span>
        <span class="textarea">
            <%= f.text_area :additional_information, :onkeyup=> "limitChars('project_additional_information', 10000, 'chars_left_aditional_info')" %>
        </span>
    </div>
  
    <div class="field column-3 <%= 'error' if @project.errors[:start_date].present? && action_name != 'new' %>">
        <%= errors_for @project, :start_date %>
        <%= render :partial => 'field-label', :locals => {:label => 'Start Date', :text => 'Actual start date (beginning of implementation).', :required => true} %>
        <%= f.text_field :start_date, :class=>'datepicker', :value => format_date(@project.start_date) %>
    </div>
  
    <div class="field column-3 <%= 'error' if @project.errors[:end_date].present? && action_name != 'new' %>">
        <%= errors_for @project, :end_date %>
        <%= render :partial => 'field-label', :locals => {:label => 'End Date', :text => 'Date by which project is expected to be completed. Can be edited to update with actual end date upon completion.', :required => true} %>
        <%= f.text_field :end_date, :class => 'datepicker' %>
    </div>
  
    <div class="field">
        <%= f.label :sectors %>
        <% if @project.errors[:sectors].present? %>
            <span id="hidden" class="error">
                <%= errors_for @project, :sectors %>
            </span>
        <% end %>
        <%= f.collection_select :sector_ids, Sector.order(:name), :id, :name,{}, 'data-placeholder' => 'Add sector(s)', :multiple => true %>
    </div>
  
    <div id="cross_cutting" class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Cross-Cutting Issues', :text => 'Issues that cut across more than one sector, or that should not be managed as a sector, such as gender or the environment. Separate multiple entries with a comma.'} %>
        <span class="input_large">
            <%= f.text_field :cross_cutting_issues %>
        </span>
    </div>

    <div class="field humanitarian">
        <%= f.check_box :humanitarian %>
        <%= f.label :humanitarian %>
    </div>
    
    <h3 class="section museo_sans">PROJECT BUDGET</h3>

    <div class="field">
        <%= f.label :budget_currency %>
        <%= f.select :budget_currency, get_currency_list %>
    </div>

    <div class="field column-3 <%= 'error' if @project.errors[:budget_value_date].present? && action_name != 'new' %>">
        <%= errors_for @project, :budget_value_date %>
        <%= render :partial => 'field-label', :locals => {:label => 'Budget Value Date', :text => 'Date to be used for determining the exchange rate for currency conversions.', :required => false} %>
        <%= f.text_field :budget_value_date, :class => 'datepicker' %>
    </div>
    
    <div id="project_budget" class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Budget', :text => 'Amount budgeted for a project or, in the case of in-kind donations, the value of a shipment.'} %>
        <span class="input_short coin">
            <%= f.text_field :budget, :value => number_with_precision(f.object.budget, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %>
        </span>
    </div>

    <div id="partner_org" class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Partners', :text => 'Name(s) of local organization(s) involved in the implementation of the project. In the case of in-kind donations, list organizations receiving goods.'} %>
        <span class="input">
        <%= @project.new_record? %>
            <%= f.select :partner_ids, select_box_options(:partners), {},{ :multiple => true, :class => 'input-lg-multiple' } %>
        </span>
    </div>

    <div class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Prime Awardee', :text => 'Name of the organization that received the funding directly from the donor.'} %>
        <% if @project.errors[:prime_awardee_id].present? %>
            <span id="hidden" class="error">
                <%= errors_for @project, :prime_awardee_id %>
            </span>
        <% end %>
        <%= f.select :prime_awardee_id, select_box_options(:prime_awardee),{},:class => 'input-med' %>
    </div>
  
    <div class="field">
        <p>If an organization is not listed here, complete the new organization request form at <a href="http://bit.ly/2cpDqAk" style="display: inline;">http://bit.ly/2cpDqAk</a>.</p>
    </div>
    
    
    <!-- ##################### PROJECT IMPACT ##################### -->
    <h3 class="section museo_sans">PROJECT IMPACT</h3>
    
    <div class="field">
        <label>PROJECT REACH UNIT</label>
        <span class="input_short">
            <%= f.text_field :project_reach_unit %>
        </span>
    </div>
    
    <div class="field">
        <label>TARGET PROJECT REACH</label>
        <span class="input_short">
            <%= f.text_field :target_project_reach %>
        </span>
    </div>
    
    <div class="field">
        <p class="title">ACTUAL PROJECT REACH</p>
        <span class="input_short">
            <%= f.text_field :actual_project_reach %>
        </span>
    </div>
    
    <div id="target" class="field">
        <%= render :partial => 'field-label', :locals => {:required => false, :label => 'Target Groups', :text => 'Type of individuals or groups primarily intended to benefit from the project (e.g. children under five, pregnant women, people with disabilities, etc).'} %>
        <span class="input_short">
            <%= f.text_field :target %>
        </span>
    </div>

    
    <!-- ##################### LOCATION ##################### -->
    <h3 class="section museo_sans">LOCATION</h3>
    
    <div class="field">
        <%= render :partial => 'field-label', :locals => {:required => true, :label => 'Geographic Scope', :text => 'If your project is national or global in scope - meaning it does not take place in specific locations - please select either "National" or "Global" from the drop down menu. If either of these options is selected, you will not be able to provide sub-national location information.'} %>
        <%= f.select :geographical_scope, [['Specific locations', 'specific_locations'], ['National', 'national'], ['Global', 'global']] %>
    </div>


    <div id="geographical_region-content">
        <label>GEOGRAPHIC LOCATION <strong>*</strong></label>
        <input type="hidden" name="project[geolocation_ids][]" value="" />
        <ul class="ubications" id="regions_list">
            <% @project.geolocation_ids.each do |geolocation| %>
                <li data-country-id="<%= geolocation %>">
                    <p> <%= geolocation_breadcrumb(geolocation) %> </p>
                    <input type="hidden" name="project[geolocation_ids][]" value="<%= geolocation %>" />
                    <a class="close" href="javascript:void(null)"></a>
                </li>
            <% end %>
        </ul>
        
        <div class="location_options region_block empty <%= 'error' if @project.errors[:location].present? %>">
            <% if @project.errors[:location].present? %>
                <p class="msg">Sorry, location information is mandatory</p>
            <% else %>
                <p class="msg">Add / edit the different locations of the project</p>
            <% end %>
            <a class="add_location museo_sans shadow_green" id="add_region_map">add location</a>
        
            <div class="region_window">
                <div class="top_region">
                    <a class="close">Close</a>
                </div>
                <div class="bottom_region">
                    <h3 class="museo_sans">Add a location to the project</h3>
                    <p class="info_region_exp">You can specify the administrative level you need (1st, 2nd or 3rd)</p>
                    <div class="level_0">
                        <label>COUNTRY <strong>*</strong></label>
                        <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
                        <span class="region_combo">
                            <p id="country_0">Not specified</p>
                            <div class="wrapper">
                                <ul id="country-list" class="options scroll_pane">
                                    <li><a id="country_0">Not specified</a></li>
                                    <li class="last"></li>
                                </ul>
                            </div>
                        </span>
                    </div>

                    <div class="level_1">
                        <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
                        <label>1st ADMINISTRATIVE LEVEL</label>
                        <span class="region_combo">
                            <p id="level1_0">Not specified</p>
                            <div class="wrapper">
                                <ul class="options scroll_pane">
                                    <li><a id="level1_0">Not specified</a></li>
                                    <li class="last"></li>
                                </ul>
                            </div>
                        </span>
                    </div>

                    <div class="level_2">
                        <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
                        <label>2st ADMINISTRATIVE LEVEL</label>
                        <span class="region_combo">
                            <p id="level2_0">Not specified</p>
                            <div class="wrapper">
                                <ul class="options scroll_pane">
                                    <li><a id="level2_0">Not specified</a></li>
                                    <li class="last"></li>
                                </ul>
                            </div>
                        </span>
                    </div>

                    <div class="level_3">
                        <label>3st ADMINISTRATIVE LEVEL</label>
                        <span class="region_combo">
                            <p id="level3_0">Not specified</p>
                            <div class="wrapper">
                                <ul class="options scroll_pane">
                                    <li><a id="level3_0">Not specified</a></li>
                                    <li class="last"></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <a class="add_location museo_sans shadow_green" id="add_region_to_list">add location</a>
                </div>
            </div>
        </div>
    </div>

    <div id="verbatim_location" class="field">
        <label>VERBATIM LOCATION</label>

        <span class="input_large">
            <%= f.text_field :verbatim_location %>
        </span>
    </div>

    <div id="idprefugee_camp" class="field">
        <label>IDP/REFUGEE CAMP</label>

        <span class="input_large">
            <%= f.text_field :idprefugee_camp %>
        </span>
    </div>

    
    <!-- ##################### CONTACT INFORMATION ##################### -->
    <h3 class="section museo_sans">CONTACT INFORMATION</h3>
    
    <div class="two_columns">
        <div class="left_column">
            <div class="field">
                <label>CONTACT PERSON</label>
                <span class="input_short">
                    <%= f.text_field :contact_person %>
                </span>
            </div>
        </div>
        <div class="right_column">
            <div class="field">
                <p class="title">CONTACT TITLE</p>
                <span class="input_short">
                    <%= f.text_field :contact_position %>
                </span>
            </div>
        </div>
    </div>
    
    <div class="two_columns">
        <div class="left_column">
            <div class="field">
                <label>CONTACT EMAIL</label>
                <span class="input_short">
                    <%= f.text_field :contact_email %>
                </span>
            </div>
        </div>
        <div class="right_column">
            <div class="field">
                <p class="title">CONTACT PHONE <span class="info">Include international prefix</span></p>
                <span class="input_short">
                    <%= f.text_field :contact_phone_number %>
                </span>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label>PROJECT WEBSITE</label>
        <span class="input_large">
            <%= f.text_field :website %>
        </span>
    </div>

    
    <!-- ##################### INTERNAL MANAGEMENT ##################### -->
    <h3 class="section museo_sans">INTERNAL MANAGEMENT</h3>
    
    <div class="two_columns">
        <div class="left_column">
            <div class="field">
                <%= f.label :date_provided, 'DATE PROVIDED' %>
                <span class="input_short">
                    <%= f.text_field :date_provided, :value => format_date(@project.date_provided), :disabled => true %>
                    <%= f.hidden_field :date_provided, :value => format_date(@project.date_provided) %>
                </span>
            </div>
        </div>

        <div class="right_column">
            <div class="field">
                <%= f.label :date_updated, 'DATE UPDATED' %>
                <span class="input_short">
                    <%= f.text_field :date_updated, :value => format_date(@project.date_updated), :disabled => true %>
                    <%= f.hidden_field :date_updated, :value => format_date(@project.date_updated) %>
                </span>
            </div>
        </div>
    </div>

    <div class="submit floating">
        <%= f.submit '', :class => "#{'error' if @project.invalid? && action_name != 'new'}" %>
    </div>

<%end%>

<script type="text/javascript">
    var reporting_organizations = <%= raw(organizations_list(true)) %>;
    var organizations = <%= raw(organizations_list) %>;
    var countries_iso_codes = <%= (@countries_iso_codes || {}).to_json.html_safe %>;
</script>

<%= javascript_include_tag "backoffice/project.js", "backoffice/project_region.js" %>
