<%= form_for(@project, :url => (@project.new_record? ? admin_projects_path : admin_project_path(@project))) do |f| %>
<!-- ##################### PROJECT IDENTIFICATION ##################### -->

  <% if @project.errors.full_messages.any? %>
  <div class="form_error">
    <% @project.errors.full_messages.each do |error_message| %>
      <p><%= error_message %></p> <br />
    <% end %>
  </div>
  <% end -%>

  <h3 class="section museo_sans">PROJECT IDENTIFICATION</h3>
  <div class="field">
    <label>ORGANIZATION  <strong>*</strong></label>

    <div class="organization_combo list_combo">
      <span id="hidden" class="combo_large <%= 'error' if @project.errors[:primary_organization_id].present? %>">
        <%= errors_for @project, :primary_organization_id %>
        <a class="organization"><%= @project.primary_organization.try(:name) %></a>
      </span>
      <%= f.hidden_field :primary_organization_id , :value => @project.primary_organization_id %>
      <div class="wrapper">
        <ul class="organization_combo_content list_combo_content scroll_pane">
            <% @organizations_list.each do |organization| %>
              <li class="element" id="orgs_<%= organization.id %>"><p class="project_name"><%= truncate(organization.name, :length=> 40) %></p><p class="amount_projects"><%= pluralize(organization.projects.count, 'project', 'projects')%></p></li>
            <% end -%>
        </ul>
      </div>
    </div>
  </div>

   <div class="field">
    <label>PRIME AWARDEE  </label>

    <div class="prime_awardee_combo list_combo">
      <span id="hidden" class="combo_large <%= 'error' if @project.errors[:prime_awardee_id].present? %>">
        <%= errors_for @project, :prime_awardee_id %>
        <a class="organization"><%= @project.prime_awardee.try(:name) %></a>
      </span>
      <%= f.hidden_field :prime_awardee_id , :value => @project.prime_awardee_id %>
      <div class="wrapper">
        <ul class="prime_awardee_combo_content list_combo_content scroll_pane">
            <% @organizations_list.each do |organization| %>
              <li class="element" id="prime_<%= organization.id %>"><p class="project_name"><%= truncate(organization.name, :length=> 40) %></p></li>
            <% end -%>
        </ul>
      </div>
    </div>
  </div>

  <div class="field <%= 'hidden' unless current_user.admin? && @project.persisted? %>">
    <label>InterAction Intervention ID</label>
    <span class="input_large">
      <%= f.text_field :intervention_id, :readonly => true %>
    </span>
  </div>

  <div class="field">
    <label>Organization Intervention ID
    <strong>&nbsp;</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>Organization ID</h3>
            <span class="scroll">
            <p>Alpha/numeric code assigned to an intervention or shipment by an organization in its internal systems.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->

    </label>
    <span class="input_large">
      <%= f.text_field :organization_id %>
    </span>
  </div>
  <div class="field">
    <p class="title">TAGS <span class="info">Use comma (",") to separate project tags</span></p>
    <span id="tags_combo" class="input_large">
      <%= f.text_field :tags, :value => @project.tags.map{ |tag| tag.name }.join(', ') %>
    </span>
  </div>

<!-- ##################### PROJECT DETAILS ##################### -->

  <h3 class="section museo_sans">PROJECT DETAILS</h3>
  <div class="field">
    <label>PROJECT NAME  <strong>*</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>Project name</h3>
            <span class="scroll">
            <p>The official title of the project, preferable the official name used in program/project/etc documents.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->
    </label>
    <span class="input_large <%= 'error' if !@project.errors[:name].empty? && action_name != 'new' %>">
        <%= f.text_field :name, :class=>"long #{'error' if !@project.errors[:name].empty? && action_name != 'new'}" %>
        <%= errors_for @project, :name %>
    </span>
  </div>
  <div class="field">
    <span class="chars">
      <label>
        DESCRIPTION  <strong>*</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>Project description</h3>
              <span class="scroll">
              <p>Brief description of the project (at least 150 words), including if possible, goals and/or objectives</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->
      </label>
      <% description = f.object.description || '' %>
      <p id="chars_left_description"><%= 10000 - description.length %> chars left</p>
    </span>

    <span class="textarea <%= 'error' if !@project.errors[:description].empty? && action_name != 'new' %>">
        <div class="wrapper">
            <%= f.text_area :description, :maxlength => 10000, :class => "#{'error' if !@project.errors[:description].empty? && action_name != 'new'}", :onkeyup=> "limitChars('project_description', 10000, 'chars_left_description')" %>
        </div>
    </span>

  </div>
  <div class="field">
    <span class="chars">
      <label>ACTIVITIES
        <strong>&nbsp;</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>Project activities</h3>
              <span class="scroll">
              <p>Description of project activities.</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->
      </label>
      <% activities = f.object.activities || '' %>
      <p id="chars_left_activities"><%= 10000 - activities.length %> chars left</p>
    </span>
    <span class="textarea">
      <%= f.text_area :activities, :onkeyup=> "limitChars('project_activities', 10000, 'chars_left_activities')"%>
    </span>
  </div>
  <div class="field">
    <span class="chars">
      <label>ADDITIONAL INFORMATION
        <strong>&nbsp;</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>Additional information</h3>
              <span class="scroll">
              <p>Optional field that can be used to provide additional information on the project, such as progress to date, results data, etc.</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->
      </label>
      <% additional_information = f.object.additional_information || '' %>
      <p id="chars_left_aditional_info"><%= 10000 - additional_information.length %> chars left</p>
    </span>
    <span class="textarea">
      <%= f.text_area :additional_information, :onkeyup=> "limitChars('project_additional_information', 10000, 'chars_left_aditional_info')" %>
    </span>
  </div>
  <div class="field">
    <ul class="dates">

      <li class="comboselect date">
        <label>START DATE
        <strong>*</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>Start date</h3>
              <span class="scroll">
              <p>Actual start date (beginning of implementation).</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->
        </label>

        <span class="combo_date <%= 'error' if @project.errors[:start_date].present? && action_name != 'new' %>"><p><%= l @project.start_date, :format => '%m/%d/%Y' rescue '' %></p>
        <%= errors_for @project, :start_date %>
        <div class="select_dates">
          <p id="month" class="title">MONTH</p>
          <p id="day" class="title">DAY</p>
          <p id="year" class="title">YEAR</p>

          <%= f.date_select :start_date, { :start_year => 1970, :end_year=>100.years.since.year, :order => [:month, :day, :year],  :prompt => '-'}, { :class => :"chzn-date-select", :"data-placeholder" => ' '}  %>
        </div>
        </span>
      </li>


      <li class="comboselect date">
        <label>END DATE
        <strong>*</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>End date</h3>
              <span class="scroll">
              <p>Date by which project is expected to be completed. Can be edited to update with actual end date upon completion</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->

        </label>
        <span class="combo_date <%= 'error' if @project.errors[:end_date].present? && action_name != 'new' %>"><p><%= l @project.end_date, :format => '%m/%d/%Y' rescue '' %></p>
          <%= errors_for @project, :end_date %>
        <div class="select_dates">
          <p id="month" class="title">MONTH</p>
          <p id="day" class="title">DAY</p>
          <p id="year" class="title">YEAR</p>

          <%= f.date_select :end_date, { :start_year => 1970, :end_year=>100.years.since.year, :order => [:month, :day, :year],  :prompt => '-'}, { :class => :"chzn-date-select", :"data-placeholder" => ' '}  %>
        </div>
        </span>
      </li>

    </ul>
  </div>

<!-- ##################### CONTEXT ##################### -->

  <h3 class="section museo_sans">CONTEXT</h3>
  <div class="field">
    <label>SECTORS  <strong>*</strong></label>
<!--     <span id="hidden" class="combo_large <%= 'error' if @project.errors[:sectors].present? %>">
        <%= errors_for @project, :sectors %>
       <a class="organization"><%= @project.primary_organization.try(:name) %></a> </span>-->

    <ul class="sectors">
      <% unless @project.sectors.empty? %>
        <% @project.sectors.each do |sector| %>
          <li id="sector_<%= sector.id %>"><p><%= sector.name %></p><input id="<%= sector.id %>" type="checkbox" name="project[sector_ids][]" value="<%= sector.id %>" checked="true"/><a href="#sector_<%= sector.id %>" class="remove_this close"></a>
          </li>
        <% end -%>
      <% end -%>
    </ul>

    <div class="sector_options">
      <span id="sector" class="combo_sector_options">
        <%= errors_for_span(@project, :sectors) %>

        <p id="sectors_0">Select more sectors</p>
        <div class="wrapper">
          <ul class="options scroll_pane">
          <% Sector.get_select_values.collect do |sector| %>
            <li><a id="sectors_<%= sector.id %>"><%= sector.name %></a></li>
          <% end %>
            <li class="last"></li>
          </ul>
        </div>
      </span>
      <a class="add_sector museo_sans shadow_green">add sector</a>
    </div>
  </div>
  <div id="cross_cutting" class="field">
    <span class="chars">
      <label>CROSS-CUTTING ISSUES
        <strong>&nbsp;</strong>
        <!-- FIELD DESCRIPTION -->
        <div class="field_info">
          <span class="info">i</span>
          <div class="field_text">
            <div class="top">
              <a href="#close">x</a>
            </div>
            <div class="bottom">
              <h3>Cross-cutting issues</h3>
              <span class="scroll">
              <p>Issues that cut across more than one sector, or that should not be managed as a sector, such as gender or the environment. Separate multiple entries with a comma.</p>
              </span>
            </div>
          </div>
        </div>
        <!-- END FIELD DESCRIPTION -->
      </label>
      <% cross_cutting_issues = f.object.cross_cutting_issues || '' %>
      <p id="chars_left_cross_cutting_issues"><%= 2000 - cross_cutting_issues.length %> chars left</p>
    </span>
    <span class="textarea">
      <%= f.text_area :cross_cutting_issues, :onkeyup=>"limitChars('project_cross_cutting_issues', 2000, 'chars_left_cross_cutting_issues')" %>
    </span>
  </div>

<!-- ##################### PROJECT MANAGEMENT ##################### -->

  <h3 class="section museo_sans">PROJECT MANAGEMENT</h3>
  <label>PROJECT BUDGET
      <strong>&nbsp;</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>Project budget</h3>
            <span class="scroll">
            <p> Amount budgeted for a project or, in the case of in-kind donations, the value of a shipment</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->

  </label>
  <div id="project_budget" class="field">
    <span class="input_short coin">
      <p class="coin">$</p>
      <%= f.text_field :budget, :value => number_with_precision(f.object.budget, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %>

    </span>
  </div>
  <div id="implement_org" class="field">
    <label>INTERNATIONAL PARTNERS
      <strong>&nbsp;</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>International Partners</h3>
            <span class="scroll">
            <p>Name(s) of international, non-local organization(s) involved in the implementation of the project. In the case of in-kind donations, list organizations receiving goods. Multiple entries should be separated by a comma.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->

    </label>
    <span class="input_large">
      <%= f.text_field :implementing_organization %>
    </span>
  </div>
  <div id="partner_org" class="field">
    <label>LOCAL PARTNERS
      <strong>&nbsp;</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>Local Partners</h3>
            <span class="scroll">
            <p>Name(s) of local organization(s) involved in the implementation of the project. In the case of in-kind donations, list organizations receiving goods. Multiple entries should be separated by a comma.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->

    </label>
    <span class="input_large">
      <%= f.text_field :partner_organizations %>
    </span>
  </div> <!-- field -->
  <div class="field">
    <label>PRIME AWARDEE
      <strong>&nbsp;</strong>
      <!-- FIELD DESCRIPTION -->
      <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
          <div class="top">
            <a href="#close">x</a>
          </div>
          <div class="bottom">
            <h3>Prime Awardee</h3>
            <span class="scroll">
            <p>Name of the organization that received the funding directly from the donor.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- END FIELD DESCRIPTION -->

    </label>
    <span class="input_large">
      <%= f.text_field :awardee_type %>
    </span>
  </div>

<!-- ##################### PROJECT IMPACT ##################### -->

  <h3 class="section museo_sans">PROJECT IMPACT</h3>
  <div class="two_columns">
    <div class="left_column">
       <div id="estimated_people" class="field">
          <label>ESTIMATED PEOPLE REACHED <sup>(direct)</sup>
            <strong>&nbsp;</strong>
              <!-- FIELD DESCRIPTION -->
              <div class="field_info">
                <span class="info">i</span>
                <div class="field_text">
                  <div class="top">
                    <a href="#close">x</a>
                  </div>
                  <div class="bottom">
                    <h3>Estimated people reached</h3>
                    <span class="scroll">
                    <p>Target number of individuals to be reached over the life of the project. Should correspond to number of individuals intended to directly benefit from the project.</p>
                    </span>
                  </div>
                </div>
              </div>
              <!-- END FIELD DESCRIPTION -->
          </label>
          <span class="input_short">
            <%= f.text_field :estimated_people_reached, :value => number_with_precision(f.object.estimated_people_reached, :precision => 0, :strip_insignificant_zeros => true, :delimiter => ',') %>
            <p class="msg">people</p>
          </span>
        </div>
    </div>
    <div class="right_column">
      <div id="target" class="field">
        <label>TARGET GROUPS
          <strong>&nbsp;</strong>
          <!-- FIELD DESCRIPTION -->
          <div class="field_info">
            <span class="info">i</span>
            <div class="field_text">
              <div class="top">
                <a href="#close">x</a>
              </div>
              <div class="bottom">
                <h3>Target Groups</h3>
                <span class="scroll">
                <p>Type of individuals or groups primarily intended to benefit from the project (e.g. children under five, pregnant women, people with disabilities, etc)</p>
                </span>
              </div>
            </div>
          </div>
          <!-- END FIELD DESCRIPTION -->
        </label>
        <span class="input_short">
          <%= f.text_field :target %>
        </span>
      </div>
    </div>
  </div>

<!-- ##################### LOCATION ##################### -->

  <h3 class="section museo_sans">LOCATION</h3>
  <label>GEOGRAPHICAL SCOPE <strong>*</strong></label>
  <div class="field" style="margin: 5px 0 0;">
    <%= f.select :geographical_scope, [['Regional', 'regional'], ['National', 'national'], ['Global', 'global']] %>
  </div>


  <div id="geographical_region-content">
    <label>GEOGRAPHIC REGION <strong>*</strong></label>
    <ul class="ubications" id="regions_list">
      <% @project.geolocation_ids.each do |geolocation| %>
        <li data-country-id="<%= geolocation %>">
          <p> <%= geolocation_breadcrumb(geolocation) %> </p>
          <input type="hidden" name="project[geolocation_ids][]" value="<%= geolocation %>" />
          <a class="close" href="javascript:void(null)"></a>
        </li>
      <% end %>
    </ul>
    <div class="location_options region_block empty <%= 'error' if @project.errors[:location].present? %>">
      <% if @project.errors[:location].present? %>
        <p class="msg">Sorry, location information is mandatory</p>
      <% else %>
        <p class="msg">Add / edit the different regions of the project</p>
      <% end %>
      <a class="add_location museo_sans shadow_green" id="add_region_map">add region</a>

      <div class="region_window">
        <div class="top_region">
          <a class="close">Close</a>
        </div>
        <div class="bottom_region">
          <h3 class="museo_sans">Add a region to the project</h3>
          <p class="info_region_exp">You can specify the administrative level you need (1st, 2nd or 3rd)</p>
          <div class="level_0">
            <label>COUNTRY <strong>*</strong></label>
            <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
            <span class="region_combo">
              <p id="country_0">Not specified</p>
              <div class="wrapper">
                <ul id="country-list" class="options scroll_pane">
                  <li><a id="country_0">Not specified</a></li>
                  <li class="last"></li>
                </ul>
              </div>
            </span>
          </div>

          <div class="level_1">
            <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
            <label>1st ADMINISTRATIVE LEVEL</label>
            <span class="region_combo">
              <p id="level1_0">Not specified</p>
              <div class="wrapper">
                <ul class="options scroll_pane">
                  <li><a id="level1_0">Not specified</a></li>
                  <li class="last"></li>
                </ul>
              </div>
            </span>
          </div>

          <div class="level_2">
            <%= image_tag "backoffice/projects/activity-indicator.gif", {:alt => "loader", :title => 'loader', :class => 'loader'} %>
            <label>2st ADMINISTRATIVE LEVEL</label>
            <span class="region_combo">
              <p id="level2_0">Not specified</p>
              <div class="wrapper">
                <ul class="options scroll_pane">
                  <li><a id="level2_0">Not specified</a></li>
                  <li class="last"></li>
                </ul>
              </div>
            </span>
          </div>

          <div class="level_3">
            <label>3st ADMINISTRATIVE LEVEL</label>
            <span class="region_combo">
              <p id="level3_0">Not specified</p>
              <div class="wrapper">
                <ul class="options scroll_pane">
                  <li><a id="level3_0">Not specified</a></li>
                  <li class="last"></li>
                </ul>
              </div>
            </span>
          </div>
          <a class="add_location museo_sans shadow_green" id="add_region_to_list">add region</a>
        </div>
      </div>
    </div>
  </div>

  <div id="verbatim_location" class="field">
    <span class="chars">
      <label>VERBATIM LOCATION</label>
      <% verbatim_location = f.object.verbatim_location || '' %>
      <p id="chars_left_location"><%= 2000 - verbatim_location.length %> chars left</p>
    </span>

    <span class="textarea">
      <%= f.text_area :verbatim_location, :onkeyup=>"limitChars('project_verbatim_location', 2000, 'chars_left_location')" %>
    </span>
  </div>

  <div id="idprefugee_camp" class="field">
    <span class="chars">
      <label>IDP/REFUGEE CAMP</label>
      <% idprefugee_camp = f.object.idprefugee_camp || '' %>
      <p id="chars_left_camp"><%= 150 - idprefugee_camp.length %> chars left</p>
    </span>

    <span class="textarea">
      <%= f.text_area :idprefugee_camp, :onkeyup=>"limitChars('project_idprefugee_camp', 150, 'chars_left_camp')" %>
    </span>
  </div>

<!-- ##################### CONTACT INFORMATION ##################### -->

  <h3 class="section museo_sans">CONTACT INFORMATION</h3>
  <div class="two_columns">
    <div class="left_column">
      <div class="field">
        <label>CONTACT PERSON</label>
        <span class="input_short">
          <%= f.text_field :contact_person %>
        </span>
      </div>
    </div>
    <div class="right_column">
      <div class="field">
        <p class="title">CONTACT TITLE</p>
        <span class="input_short">
          <%= f.text_field :contact_position %>
        </span>
      </div> <!-- field -->
    </div>
  </div>
  <div class="two_columns">
    <div class="left_column">
      <div class="field">
        <label>CONTACT EMAIL</label>
        <span class="input_short">
          <%= f.text_field :contact_email %>
        </span>
      </div>
    </div>
    <div class="right_column">
      <div class="field">
        <p class="title">CONTACT PHONE <span class="info">Include international prefix</span></p>
        <span class="input_short">
          <%= f.text_field :contact_phone_number %>
        </span>
      </div> <!-- field -->
    </div>
  </div>
  <div class="field">
    <label>PROJECT WEBSITE</label>
    <span class="input_large">
      <%= f.text_field :website %>
    </span>
  </div>

<!-- ##################### INTERNAL MANAGEMENT ##################### -->

  <h3 class="section museo_sans">INTERNAL MANAGEMENT</h3>
  <div class="two_columns">
    <div class="two_columns">
      <div class="left_column">
        <div class="field">
          <%= f.label :date_provided, 'DATE PROVIDED' %>
          <span class="input_short">
            <%= f.text_field :date_provided, :value => format_date(@project.date_provided), :disabled => true %>
            <%= f.hidden_field :date_provided, :value => format_date(@project.date_provided) %>
          </span>
        </div>
      </div>

      <div class="right_column">
        <div class="field">
          <%= f.label :date_updated, 'DATE UPDATED' %>
          <span class="input_short">
            <%= f.text_field :date_updated, :value => format_date(@project.date_updated), :disabled => true %>
            <%= f.hidden_field :date_updated, :value => format_date(@project.date_updated) %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <%#<div id="project_needs" class="field">%>
    <%#<label>PROJECT NEEDS</label>%>
    <%#<span class="textarea">%>
      <%# f.text_area :project_needs %>
    <%#</span>%>
  <%#</div>%>


<!-- ##################### IATI ##################### -->

  <h3 class="section museo_sans">IATI</h3>
  <div class="two_columns">
    <div class="two_columns">
      <div class="left_column">
        <div class="field">
          <p class="title">BUDGET CURRENCY </p>
          <span class="input_short">
            <%= f.text_field :budget_currency %>
          </span>
        </div> <!-- field -->
      </div>

      <div class="right_column">
        <div class="field">
          <ul class="dates">
            <li class="comboselect date">
              <label>Budget value date
              <!-- <strong>*</strong> -->
              <!-- FIELD DESCRIPTION -->
              <!-- <div class="field_info">
                <span class="info">i</span>
                <div class="field_text">
                  <div class="top">
                    <a href="#close">x</a>
                  </div>
                  <div class="bottom">
                    <h3>Start date</h3>
                    <span class="scroll">
                    <p>Actual start date (beginning of implementation).</p>
                    </span>
                  </div>
                </div>
              </div> -->
              <!-- END FIELD DESCRIPTION -->
              </label>

              <span class="combo_date <%= 'error' if @project.errors[:budget_value_date].present? && action_name != 'new' %>"><p><%= l @project.budget_value_date, :format => '%m/%d/%Y' rescue '' %></p>
              <%= errors_for @project, :budget_value_date %>
              <div class="select_dates">
                <p id="month" class="title">MONTH</p>
                <p id="day" class="title">DAY</p>
                <p id="year" class="title">YEAR</p>

                <%= f.date_select :budget_value_date, { :start_year => 1970, :end_year=>100.years.since.year, :order => [:month, :day, :year],  :prompt => '-'}, { :class => :"chzn-date-select", :"data-placeholder" => ' '}  %>
              </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="two_columns">
    <div class="left_column">
      <div class="field">
        <label>TARGET PROJECT REACH</label>
        <span class="input_short">
          <%= f.text_field :target_project_reach %>
        </span>
      </div>
    </div>
    <div class="right_column">
      <div class="field">
        <p class="title">ACTUAL PROJECT REACH</p>
        <span class="input_short">
          <%= f.text_field :actual_project_reach %>
        </span>
      </div> <!-- field -->
    </div>
  </div>

<!-- ################################################ -->
<!-- ################################################ -->
<!-- ################################################ -->

  <div class="submit floating">
    <%= f.submit '', :class => "#{'error' if @project.invalid? && action_name != 'new'}" %>
  </div>
  <!-- END EDIT PAGE -->

<%end%>

  <div class="map_window">
    <a class="close">Close</a>
    <h3 class="museo_sans">Geolocate this project</h3>
    <div class="outer_map">
      <form class="geocoder" action="javascript:void searchPlace()">
        <input type="text" value="Location, latitude or longitude" />
        <input type="submit" />
      </form>
      <div id="map"></div>
    </div>
    <p>You can click multiple points to add<br/>several locations to the project</p>
    <a class="save" href="javascript:void(null)">save position</a>
  </div>

  <!-- COMMON IN EDIT AND NEW FORM -->

  <script type="text/javascript">
    var organization_id     = '<%= @project.primary_organization.try(:organization_id).presence || 'XXXX' %>';
    var project_id          = '<%= @project.organization_id.presence || 'XXX' %>';
    var organizations_ids   = <%= (@organizations_ids || {}).to_json.html_safe %>;
    var countries_iso_codes = <%= (@countries_iso_codes || {}).to_json.html_safe %>;
  </script>

  <%= javascript_include_tag "backoffice/project_map.js", "backoffice/project.js", "backoffice/project_region.js" %>
