<div class="main_layout">
  <div class="block first donations_project mod-backoffice-projects">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2><%= @project.name %></h2>
        <p class="by">by <%= link_to(@project.primary_organization.name, edit_admin_organization_path(@project.primary_organization)) %> /
          <%= @project.countries.first.try(:name) %>
        </p>

        <% unless @project.donations.empty? %>
        <ul class="donations">
          <% total_account = 0 %>
          <% @project.donations.each do |donation| %>
          <li>
            <div class="name_box">
              <h3>
                <%= link_to(truncate(donation.donor.name, :length => 44).html_safe, edit_admin_organization_path(donation.donor)) %>
              </h3>
            </div>
            <%if donation.date.present? %>
              <div class="date_box">
                <p><%= donation.date.strftime("%m/%d/%Y") %></p>
              </div>
            <%end%>
            <div class="amount_box">
              <p>$<%= (donation.amount.nil?)? '0' : number_with_precision(donation.amount, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %>
              </p>
              <%= link_to('', '#', :destroy_url => admin_project_donation_path(@project, donation), :att_name => 'donor', :no_subtitle => true, :class => 'delete') %>

            </div>
          </li>

          <%if (!donation.amount.nil?) %>
            <% total_account += donation.amount %>
          <%end%>
          <% end -%>
      </ul>
      <h4 class="total museo_sans">TOTAL DONATED:</h4><span class="total_account">$</span><p class="amount"><%= number_with_precision(total_account, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %></p>
        <% end -%>

    <%= form_for([:admin, @project, (@donation || @project.donations.new)]) do |f| %>
      <h2 class="museo_sans shadow_white">Add a new donation</h2>

      <p>If the organization is not listed here, you should complete and submit the new organization request form. You can access the form at <a href="http://bit.ly/2cpDqAk" style="display: inline;">http://bit.ly/2cpDqAk</a>.</p>

        <div class="field">
          <%= f.label :donor_id, raw('DONOR NAME <strong>*</strong>') %>
            <%= f.select :donor_id, select_box_options,{},:class => 'input-med' %>
        </div>

        <div class="field">
            <%= f.label :date, 'DONATION DATE' %>
            <%= f.text_field :date, :class => 'datepicker', :value => Date.today.strftime("%Y-%m-%d") %>
        </div>

        <div class="field">
            <%= f.label :amount, 'AMOUNT' %>
            <%= f.text_field :amount  %>
        </div>
        
        <%= f.submit 'Add donation' %>
      <% end -%>
      
      </div>
      <div class="right menu">
      <%= render 'admin/projects/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script type="text/javascript">
    var organizations = <%= raw(organizations_list) %>;
</script>

<%= javascript_include_tag "backoffice/project.js", "backoffice/application.js" %>
