<div class="main_layout">
  <div class="block first donations_project mod-project-donations mod-backoffice-projects">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2><%= @project.name %></h2>
        <p class="by">by <%= link_to(@project.primary_organization.name, edit_admin_organization_path(@project.primary_organization)) %> /
          <%= @project.countries.first.try(:name) %>
        </p>

        <% unless @project.donations.empty? %>
        <ul class="donations">
          <% total_account = 0 %>
          <% @project.donations.each do |donation| %>
          <li>
            <div class="name_box">
              <h3>
                <%= link_to(truncate(donation.donor.name, :length => 44).html_safe, edit_admin_organization_path(donation.donor)) %>
              </h3>
            </div>
            <%if donation.date.present? %>
              <div class="date_box">
                <p><%= donation.date.strftime("%m/%d/%Y") %></p>
              </div>
            <%end%>
            <div class="amount_box">
              <p>$<%= (donation.amount.nil?)? '0' : number_with_precision(donation.amount, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %>
              </p>
              <%= link_to('', '#', :destroy_url => admin_project_donation_path(@project, donation), :att_name => 'donor', :no_subtitle => true, :class => 'delete') %>

            </div>
          </li>

          <%if (!donation.amount.nil?) %>
            <% total_account += donation.amount %>
          <%end%>
          <% end -%>
      </ul>
      <h4 class="total museo_sans">TOTAL DONATED:</h4><span class="total_account">$</span><p class="amount"><%= number_with_precision(total_account, :precision => 2, :strip_insignificant_zeros => true, :delimiter => ',') %></p>
        <% end -%>

    <%= form_for([:admin, @project, (@donation || @project.donations.new)]) do |f| %>
      <h4 class="museo_sans shadow_white">Add a new donation</h4>

      <p>If the organization is not listed here, you should complete and submit the new organization request form. You can access the form at <a href="http://bit.ly/2cpDqAk" style="display: inline;">http://bit.ly/2cpDqAk</a>.</p>

        <div id="donor_name" class="field">
          <%= f.label :donor_id, raw('DONOR NAME <strong>*</strong>') %>
          <div id="donor_name_input" class="donor-select">
            <%= f.select :donor_id, Organization.order(:name).map{|d| [d.name, d.id]}, :prompt => 'Select a donor' %>
            <div class="spinner"></div>
          </div>
        </div>

        <div id="donation_date" class="field comboselect date">
          <%= f.label :date, 'DONATION DATE' %>

          <span class="combo_date" style="padding: 0;"><p><%= l @project.date_provided, :format => '%m/%d/%Y' rescue '' %></p>
          <div class="select_dates">
            <p id="month" class="title">MONTH</p>
            <p id="day" class="title">DAY</p>
            <p id="year" class="title">YEAR</p>

            <%= f.date_select :date, { :start_year => 1970, :end_year=>100.years.since.year, :order => [:month, :day, :year],  :prompt => '-'}, { :class => :"chzn-date-select", :"data-placeholder" => ' '}  %>
          </div>
          </span>
        </div>

        <div id="donation_amount" class="field">
          <%= f.label :amount, 'AMOUNT' %>
        <span>
            <%= f.text_field :amount  %>
        </span>
        </div>
          <%= f.submit 'Add donation' %>
      <% end -%>
      </div>
      <div class="right menu">
      <%= render 'admin/projects/sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>


<%= javascript_include_tag "backoffice/project.js", "backoffice/application.js" %>
