<div id="layout">
  <div id="pages" class="about-subsections">

  <div class="mod-hero about"></div>

  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">
        <div class="mod-info mod-sites-info" id="menuFixedView">

          <% if @pages.present? -%>
              <h3 class="subsection-title">About</h3>
              <ul>
                <% @pages.each do |child| %>
                  <li class="page"><%= link_to_unless(child==@page,child.title, page_path(child)) %></li>
                <% end %>
              </ul>
          <% else -%>
          <% top_parent = @page.top_parent %>
          <h3 class="subsection-title"><%= link_to(top_parent.title, page_path(top_parent)) %></h3>
          <% pages = top_parent.children.published %>
          <% if pages.any? %>
            <ul>
              <% pages.each do |child| %>
                <li class="page"><%= link_to_unless(child==@page,child.title, page_path(child)) %></li>
              <% end %>
            </ul>
          <% end %>
          <% end -%>

        </div>
      </aside>
    </div>


    <div class="grid-12 offset-1">
      <section class="layout-content about">
        <h2 class="section-title"><%= @page.title %></h2>
        <article class="mod-content-article">
          <%= raw @page.body  %>
        </article>
      </section>
    </div>

  </div>
</div>


