<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <aside>
    <div class="grid-4">

    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <%= render 'new_partials/aside/follow_us' %>

      <h1 class="section-title"><%= @project.name %></h1>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => project_path(@project, :csv), :xls_path => project_path(@project, :xls), :kml_path => project_path(@project, :kml) } %>

    </div>
  </section>
</div>
