<div class="main_layout mod-backoffice-stories mod-backoffice-iati-publisher">
    <div class="block">
        <div class="top"></div>
        <div class="med ngos_list">
            
            <h2>IATI Publisher</h2>
            <p>Next sync is scheduled for 1am EST</p>
            
            <div id="accordion">
                <h3>Organizations to to add to registry on next sync <span class="<%= 'non-zero' if @toPublish.size > 0 %>"><%=@toPublish.size%></span></h3>
                <ul>
                    <% @toPublish.each do |o| %>
                        <li><%= link_to o.name, edit_admin_organization_path(o.id) %></li>
                    <% end %>
                </ul>
                <h3>Organizations to remove from registry on next sync <span class="<%= 'non-zero' if @toUnpublish.size > 0 %>"><%=@toUnpublish.size%></span></h3>
                <ul>
                    <% @toUnpublish.each do |o| %>
                        <li><%= link_to o.name, edit_admin_organization_path(o.id) %></li>
                    <% end %>
                </ul>
                <h3>Organizations to update on registry on next sync <span class="<%= 'non-zero' if @toUpdate.size > 0 %>"><%=@toUpdate.size%></span></h3>
                <ul>
                    <% @toUpdate.each do |o| %>
                        <li><%= link_to o.name, edit_admin_organization_path(o.id) %></li>
                    <% end %>
                </ul>
            </div>
            <%= button_to 'Manual Sync Now', '/admin/iati/sync' %>
            <% if action_name.eql?('sync') %>
                <p class="sync-results"><%= @output.html_safe %></p>
            <% end %>
            
        </div>
    </div>
</div>