<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <aside>
    <div class="grid-4">

      <%= render 'new_partials/aside/projects' %>

    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <%= render 'new_partials/aside/follow_us' %>

      <h1 class="section-title"><%= @data.name %></h1>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => cluster_path(@data, @carry_on_filters.merge(:format => :csv)), :xls_path => cluster_path(@data, @carry_on_filters.merge(:format => :xls)), :kml_path => cluster_path(@data, @carry_on_filters.merge(:format => :kml)) } %>

      <%= render "new_partials/index_projects" %>

    </div>
  </section>
</div>
