<table>
  <tr>
    <th>Projects</th>
    <th>Organizations</th>
    <th>Donors</th>
    <th>Countries</th>
    <th>Sectors</th>
  </tr>
  <tr>
    <td>
      {{commas projects.length}}
      <a href="#show-list" data-list="projects" data-category="donorsCount" class="btn-show-list">Show list</a>
    </td>
    <td>
      {{commas organizations.length}}
      <a href="#show-list" data-list="organizations" data-category="projectsCount" class="btn-show-list">Show list</a>
    </td>
    <td>
      {{commas donors.length}}
      <a href="#show-list" data-list="donors" data-category="projectsCount" class="btn-show-list">Show list</a>
    </td>
    <td>
      {{commas countries.length}}
      <a href="#show-list" data-list="countries" data-category="organizationsCount" class="btn-show-list">Show list</a>
    </td>
    <td>
      {{commas sectors.length}}
      <a href="#show-list" data-list="sectors" data-category="organizationsCount" class="btn-show-list">Show list</a>
    </td>
  </tr>
</table>
