<table>
  <tr>
    <th>Projects</th>
    <th>Organizations</th>
    <th>Donors</th>
    <th>Countries</th>
    <th>Sectors</th>
  </tr>
  <tr>
    <td>{{commas projects.length}}</td>
    <td>{{commas organizations.length}}</td>
    <td>{{commas donors.length}}</td>
    <td>{{commas countries.length}}</td>
    <td>{{commas sectors.length}}</td>
  </tr>
</table>
