<table>
  <tr>
    <th>Projects</th>
    <th>Organizations</th>
    <th>Donors</th>
    <th>Countries</th>
    <th>Sectors</th>
  </tr>
  <tr>
    <td>{{commas projects.length}} <a href="#show-list" data-list="projects" class="btn-show-list">Show list</a></td>
    <td>{{commas organizations.length}} <a href="#show-list" data-list="organizations" class="btn-show-list">Show list</a></td>
    <td>{{commas donors.length}} <a href="#show-list" data-list="donors" class="btn-show-list">Show list</a></td>
    <td>{{commas countries.length}} <a href="#show-list" data-list="countries" class="btn-show-list">Show list</a></td>
    <td>{{commas sectors.length}} <a href="#show-list" data-list="sectors" class="btn-show-list">Show list</a></td>
  </tr>
</table>
