<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <div class="grid-4">
    <aside class="layout-sidebar">

      <%= render 'new_partials/aside/projects' %>

      <% unless @site.nil? || @filter_by_category.present? || @organization_projects_clusters_sectors.empty? %>
        <div class="project-sectors mod-info">
          <h3>Project sectors</h3>
          <div class="mod-project-sectors">
            <ul id="clustersView">
              <% @organization_projects_clusters_sectors[0...3].each do |category,count| %>
                <% unless category.name.eql?('N/A') %>
                  <li>
                    <div class="tooltip">
                      <span class="body_tooltip">
                        <label><%= category.name %></label>
                      </span>
                      <span class="bottom_tooltip"></span>
                    </div>
                    <a class="<%= category.css_class %> icon_statistics" href="<%= organization_path(@organization, @carry_on_filters.merge(:category_id => category.id)) %>" data-value="<%= count %>"><span class="aller"><%= count %></span></a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <% unless @filter_by_location.present? || @organization_projects_by_location.empty? %>
        <%= render 'new_partials/aside/project_locations' %>
      <% end %>

      <% unless @organization.contact_name.nil? &&  @organization.contact_position.nil? && @organization.hq_address.nil? && @organization.contact_zip.nil? && @organization.contact_phone_number.nil? %>
        <div class="contact-info mod-info">
          <h3>Contact information</h3>
          <div class="mod-contact-info">
            <h4><%= @organization.contact_name %></h4>
            <p><%= @organization.contact_position %></p>
            <p><%= @organization.contact_phone_number %></p>
            <% unless (@organization.contact_email.nil?)||(@organization.contact_email.empty?) %>
              <p><%= link_to(@organization.contact_email, "mailto:#{@organization.contact_email}") %></p>
            <%end%>
            <% if @organization.twitter? %>
              <p><%= link_to(' ' ,"http://twitter.com/#{@organization.twitter}", :class=>"twitter", :target=>"_blank") %></p>
            <% end %>
            <% if @organization.twitter? %>
              <p><%= link_to(' ' ,"http://facebook.com/#{@organization.facebook}", :class=>"facebook", :target=>"_blank") %></p>
            <% end %>
          </div>
        </div>
      <% end %>

    </aside>
  </div>

  <div class="grid-12 offset-1">
    <section class="layout-content">

      <%= render 'new_partials/aside/follow_us' %>

      <header>
        <h1 class="section-title"><%= @organization.name %></h1>
        <%= simple_format(@organization.description.squish.truncate(800)) if @organization.description.present? %>
      </header>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => organization_path(@organization, @carry_on_filters.merge(:format => :csv)), :xls_path => organization_path(@organization, @carry_on_filters.merge(:format => :xls)), :kml_path => organization_path(@organization, @carry_on_filters.merge(:format => :kml)) } %>

      <%= render "new_partials/index_projects" %>

    </section>
  </div>
</div>
