<div class="main_layout organization users">
  <div class="block edit first">
    <div class="top">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <% end %>
    </div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans">Edit User</h2>
        <span><%= "Last login on #{@user.last_login.strftime('%m/%d/%Y')}" %></span>
        <%= render :partial => 'form' %>
      </div>
      <div class="right menu">
        <%= render 'sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<%= javascript_include_tag "backoffice/application.js" %>
