<div class="main_layout">
  <div class="block grey">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans"><%= @organization_data.name %></h2>
        <p><%= link_to 'Edit Organization', edit_admin_organization_path(current_user.organization) %></p>
      </div>
      <div class="info_list">
        <ul>
          <li>
            <h4>NAME</h4>
            <p><%= @organization_data.name %></p>
            <h4>WEBSITE</h4>
            <p><%= link_to @organization_data.website, @organization_data.website %></p>
          </li>
          <li>
            <h4>HQ INFORMATION</h4>
            <% @organization_data.contact_information.each do |info| -%>
              <p><%= raw info %></p>
            <% end -%>
          </li>
          <li class="last">
            <% if @organization_data.logo.present? -%>
            <h4>LOGO</h4>
            <p><%= image_tag @organization_data.logo %></p>
            <% end -%>
          </li>
        </ul>
      </div>
    </div>

    <div class="med information">
      <hr>

      <h3>Your Projects</h3>

      <ul>
        <li>
          <label>Active Projects</label>
          <p class="museo_sans">
            <%= @organization.projects.active.count -%>
          </p>
        </li>
        <li>
          <label>Closed Projects</label>
          <p class="museo_sans">
            <%= @organization.projects.closed.count -%>
            3
          </p>
        </li>
        <li>
          <label>Total Projects</label>
          <p class="museo_sans">
            <%= @organization.projects.count -%>
            10
          </p>
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Projects Ending Soon</h2>
      </div>

      <%- if @organization.projects.active.where("end_date < ?", 1.year.from_now.to_date).any? -%>

        <%= render :partial => 'ending_projects', :locals => {
          :projects => @organization.projects.active.where("end_date < ?", 3.months.from_now.to_date),
          :section_number => '1'
        } %>

        <%= render :partial => 'ending_projects', :locals => {
          :projects => @organization.projects.where("end_date > ? AND end_date < ?", 3.months.from_now.to_date, 6.months.from_now.to_date),
          :section_number => '2'
        } %>

        <%= render :partial => 'ending_projects', :locals => {
          :projects => @organization.projects.where("end_date > ? AND end_date < ?", 6.months.from_now.to_date, 12.months.from_now.to_date),
          :section_number => '3'
        } %>

      <%- else -%>
        <div style="padding-top: 30px;">
          <p>No projects are ending in the next 12 months.</p>
        </div>
      <%- end -%>

    </div>
    <div class="bottom_white"></div>
  </div>


  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Your Active Projects (<%= @organization.projects.active.count %>)</h2>
        <p>
          <%= link_to("View All Active Projects", admin_projects_path(:status => "active")) %>
        </p>
      </div>
    </div>

    <div class="med information">
      <% country_count = Geolocation.active.organizations(@organization.id).where(:adm_level => 0).uniq.count %>
      <h3>Countries (<%= country_count %>)</h3>
      <ol class="countries_list clearfix">
        <% Geolocation.active.organizations(@organization.id).group_by_project_count.limit(20).each do |geoloaction| %>
          <li>
            <span class="count"><%= geoloaction.projects_count %></span>
            <%= link_to(geoloaction.reload.name, admin_projects_path(:country => geoloaction.id)) %>
          </li>
        <% end %>
      </ol>

      <%- if country_count > 20 -%>
        <button
          class="link-button collapse-button"
          aria-controls="more-active-countries"
          aria-expanded="false">
            Show More...
        </button>

        <ol id="more-active-countries" class="countries_list clearfix collapse">
          <% Geolocation.active.organizations(@organization.id).group_by_project_count.offset(20).each do |geoloaction| %>
            <li>
              <span class="count"><%= geoloaction.projects_count %></span>
              <%= link_to(geoloaction.reload.name, admin_projects_path(:country => geoloaction.id)) %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>

    <div class="med information">
      <hr>

      <h3>Sectors (<%= Sector.active.organizations(@organization.id).count  %>)</h3>
      <ol class="sectors_list clearfix">
        <%- Sector.ordered_by_project_count_for_organization(@organization).each do |sector| -%>
          <%- projects_count = sector.projects.active.organizations(@organization).count -%>
          <li <%= 'class="active"'.html_safe if projects_count > 0 %>>
            <span class="count"><%= projects_count %></span>
            <%- if projects_count > 0 -%>
              <%= link_to sector.name, admin_projects_path(:sector => sector.id) %>
            <%- else -%>
              <%= sector.name %>
            <%- end -%>
          </li>
        <%- end -%>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <%- all_active_partners_and_donors = @organization.all_active_partners_and_donors -%>
      <h3>Partners and Donors (<%= all_active_partners_and_donors.size %>)</h3>
      <ul class="bulleted_list">
        <%- all_active_partners_and_donors.each do |organization| -%>
          <li><%= organization.name %></li>
        <%- end -%>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Your Closed Projects (<%= @organization.projects.active.count %>)</h2>
      </div>
    </div>

    <div class="med information">
      <% country_count = Geolocation.closed.organizations(@organization.id).where(:adm_level => 0).uniq.count %>
      <h3>Countries (<%= country_count %>)</h3>
      <ol class="countries_list clearfix">
        <% Geolocation.closed.organizations(@organization.id).group_by_project_count.limit(20).each do |geoloaction| %>
          <li>
            <span class="count"><%= geoloaction.projects_count %></span>
            <%= link_to(geoloaction.reload.name, admin_projects_path(:country => geoloaction.id)) %>
          </li>
        <% end %>
      </ol>

      <%- if country_count > 20 -%>
        <button
          class="link-button collapse-button"
          aria-controls="more-active-countries"
          aria-expanded="false">
            Show More...
        </button>

        <ol id="more-active-countries" class="countries_list clearfix collapse">
          <% Geolocation.active.organizations(@organization.id).group_by_project_count.offset(20).each do |geoloaction| %>
            <li>
              <span class="count"><%= geoloaction.projects_count %></span>
              <%= link_to(geoloaction.reload.name, admin_projects_path(:country => geoloaction.id)) %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>

    <div class="med information">
      <hr>

      <h3>Sectors (<%= Sector.closed.organizations(@organization.id).count %>)</h3>
      <ol class="sectors_list clearfix">
        <%- Sector.ordered_by_project_count_for_organization(@organization, false).each do |sector| -%>
          <%- projects_count = sector.projects.closed.organizations(@organization).count -%>
          <li <%= 'class="active"'.html_safe if projects_count > 0 %>>
            <span class="count"><%= projects_count %></span>
            <%- if projects_count > 0 -%>
              <%= link_to sector.name, admin_projects_path(:sector => sector.id) %>
            <%- else -%>
              <%= sector.name %>
            <%- end -%>
          </li>
        <%- end -%>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <%- all_closed_partners_and_donors = @organization.all_active_partners_and_donors -%>
      <h3>Partners and Donors (<%= all_closed_partners_and_donors.size %>)</h3>
      <ul class="bulleted_list">
        <%- all_closed_partners_and_donors.each do |organization| -%>
          <li><%= organization.name %></li>
        <%- end -%>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">NGO Aid Map</h2>
      </div>
    </div>
    <div class="med information">
      <ul>
        <li>
          <label>Global Total Projects</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Project.count) %>
          </p>
        </li>
        <li>
          <label>Global Active Projects</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Project.active.count) %>
          </p>
        </li>
        <li>
          <label>Reporting Organizations</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Organization.count) %>
          </p>
        </li>
        <li>
          <label>Countries</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Geolocation.active.where(:adm_level => 0).uniq.count) %>
          </p>
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <% if current_user.admin? -%>
    <% @organization_sites.compact.each do |site| -%>
      <div class="block">
        <div class="top"></div>
        <div class="med information">
          <div class="header">
            <h2 class="museo_sans"><%= link_to site.name, admin_projects_path(:q => '', :site => site.site_id) %></h2>
            <span class="ngo_activity">
              <p><%= site.active_projects_count %><em>active</em></p>
              <p><%= site.closed_projects_count %><em>closed</em></p>
            </span>
          </div>
          <div class="info_list">
            <ul>
              <li>
                <h4>SITE DESCRIPTION</h4>
                <p><%= site.internal_description %></p>
              </li>
              <li>
                <h4>DONATION INFORMATION</h4>
                <% site.donation_information.each do |info| -%>
                  <p><%= raw info %></p>
                <% end -%>
              </li>
              <li class="last">
                <h4>DATA CONTACT</h4>
                <% site.data_contact_information.each do |info| -%>
                  <p><%= raw info %></p>
                <% end -%>
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom_white"></div>
      </div>
    <% end -%>
  <% end -%>

  </div>


<script type="text/javascript">
  $('.collapse-button').each(function() {
    var controlsID = $(this).attr('aria-controls');
    var $section   = $('#' + controlsID);

    $(this).click(function() {
      var expanded = $(this).attr('aria-expanded') === 'true' ? true : false;
      $section.toggleClass('-expanded', !expanded);
      $(this).toggleClass('-expanded', !expanded);
      $(this).attr('aria-expanded', !expanded);
    })
  });
</script>
