<div class="main_layout">
  <div class="block grey">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans"><%= @organization_data.name %></h2>
        <p><%= link_to 'Edit Organization', edit_admin_organization_path(current_user.organization) %></p>
      </div>
      <div class="info_list">
        <ul>
          <li>
            <h4>NAME</h4>
            <p><%= @organization_data.name %></p>
            <h4>WEBSITE</h4>
            <p><%= link_to @organization_data.website, @organization_data.website %></p>
          </li>
          <li>
            <h4>HQ INFORMATION</h4>
            <% @organization_data.contact_information.each do |info| -%>
              <p><%= raw info %></p>
            <% end -%>
          </li>
          <li class="last">
            <% if @organization_data.logo.present? -%>
            <h4>LOGO</h4>
            <p><%= image_tag @organization_data.logo %></p>
            <% end -%>
          </li>
        </ul>
      </div>
    </div>

    <div class="med information">
      <hr>

      <h3>Your Projects</h3>

      <ul>
        <li>
          <label>Active Projects</label>
          <p class="museo_sans">
            <%#= @organization_data.active_projects_count %>
            7
          </p>
        </li>
        <li>
          <label>Closed Projects</label>
          <p class="museo_sans">
            <%#= @organization_data.closed_projects_count %>
            3
          </p>
        </li>
        <li>
          <label>Total Projects</label>
          <p class="museo_sans">
            <%#= @organization_data.closed_projects_count + @organization_data.active_projects_count %>
            10
          </p>
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


    <!-- If projects ending soon exist -->
  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Projects Ending Soon</h2>
      </div>

      <!-- If projects ending in 3 months exist -->
      <div class="projects_list clearfix">
        <h3
          class="table_heading">
            2 projects ending within 1 month

            <button
              class="collapse-button -arrow"
              aria-controls="ending-projects-1"
              aria-expanded="false">
                <span>Expand</span>
            </button>
        </h3>

        <table id="ending-projects-1" collapse="0" class="condensed collapse">
          <tbody>
            <tr>
              <td width="625">
                <span>
                  <h4>
                    <!-- <a href="<%#= edit_admin_project_path(project) %>"> -->
                    <a href="/admin/projects/19265/edit">
                      This is a Project
                    </a>
                  </h4>
                  <p class="margin">
                    <a class="project_status active">Active</a>
                    <%#= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                    until Sep 30th, 2016
                  </p>
                </span>
              </td>
              <td width="150" class="odd center">
<%
=begin 
%>
                <% unless project.sectors.empty? %>
                  <% if project.sectors.count == 1 %>
                    <p><%= project.sectors.first.name %></p>
                  <% else %>
                    <p><%= truncate(project.sectors.first.name, :length => 19) %></p>
                    <p class="secondary"><%= "and #{project.sectors.count - 1} more" %></p>
                  <% end %>
                <% else %>
                  <p>N/A</p>
                <% end %>
<%
=end
%>
                <p>Economic Recovery and Development</p>
              </td>
              <td width="150" class="center">
                <p>
                  <%#= project.countries.map(&:name).to_sentence %>
                  Haiti
                </p>
              </td>
            </tr>
            <tr>
              <td width="625">
                <span>
                  <h4>
                    <!-- <a href="<%#= edit_admin_project_path(project) %>"> -->
                    <a href="/admin/projects/19265/edit">
                      This is a Project
                    </a>
                  </h4>
                  <p class="margin">
                    <a class="project_status active">Active</a>
                    <%#= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                    until Sep 30th, 2016
                  </p>
                </span>
              </td>
              <td width="150" class="odd center">
<%
=begin 
%>
                <% unless project.sectors.empty? %>
                  <% if project.sectors.count == 1 %>
                    <p><%= project.sectors.first.name %></p>
                  <% else %>
                    <p><%= truncate(project.sectors.first.name, :length => 19) %></p>
                    <p class="secondary"><%= "and #{project.sectors.count - 1} more" %></p>
                  <% end %>
                <% else %>
                  <p>N/A</p>
                <% end %>
<%
=end
%>
                <p>Economic Recovery and Development</p>
              </td>
              <td width="150" class="center">
                <p>
                  <%#= project.countries.map(&:name).to_sentence %>
                  Haiti
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- If projects ending between 3 and 6 months exist -->
      <div class="projects_list clearfix">
        <h3 class="table_heading">
          1 project ending in 2 to 6 months

          <button
            class="collapse-button -arrow"
            aria-controls="ending-projects-2"
            aria-expanded="false">
              <span>Expand</span>
          </button>
        </h3>

        <table id="ending-projects-2" collapse="0" class="condensed collapse">
          <tbody>
            <tr>
              <td width="625">
                <span>
                  <h4>
                    <!-- <a href="<%#= edit_admin_project_path(project) %>"> -->
                    <a href="/admin/projects/19265/edit">
                      This is a Project
                    </a>
                  </h4>
                  <p class="margin">
                    <a class="project_status active">Active</a>
                    <%#= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                    until Sep 30th, 2016
                  </p>
                </span>
              </td>
              <td width="150" class="odd center">
<%
=begin 
%>
                <% unless project.sectors.empty? %>
                  <% if project.sectors.count == 1 %>
                    <p><%= project.sectors.first.name %></p>
                  <% else %>
                    <p><%= truncate(project.sectors.first.name, :length => 19) %></p>
                    <p class="secondary"><%= "and #{project.sectors.count - 1} more" %></p>
                  <% end %>
                <% else %>
                  <p>N/A</p>
                <% end %>
<%
=end
%>
                <p>Economic Recovery and Development</p>
              </td>
              <td width="150" class="center">
                <p>
                  <%#= project.countries.map(&:name).to_sentence %>
                  Haiti
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- If projects ending between 6 and 12 months exist -->
      <div class="projects_list clearfix">
        <h3 class="table_heading">
          1 project ending in 7 to 12 months

          <button
            class="collapse-button -arrow"
            aria-controls="ending-projects-3"
            aria-expanded="false">
              <span>Expand</span>
          </button>
        </h3>

        <table id="ending-projects-3" collapse="0" class="condensed collapse">
          <tbody>
            <tr>
              <td width="625">
                <span>
                  <h4>
                    <!-- <a href="<%#= edit_admin_project_path(project) %>"> -->
                    <a href="/admin/projects/19265/edit">
                      This is a Project
                    </a>
                  </h4>
                  <p class="margin">
                    <a class="project_status active">Active</a>
                    <%#= project.end_date.strftime("until %b #{project.end_date.day.ordinalize}, %Y") %>
                    until Sep 30th, 2016
                  </p>
                </span>
              </td>
              <td width="150" class="odd center">
<%
=begin 
%>
                <% unless project.sectors.empty? %>
                  <% if project.sectors.count == 1 %>
                    <p><%= project.sectors.first.name %></p>
                  <% else %>
                    <p><%= truncate(project.sectors.first.name, :length => 19) %></p>
                    <p class="secondary"><%= "and #{project.sectors.count - 1} more" %></p>
                  <% end %>
                <% else %>
                  <p>N/A</p>
                <% end %>
<%
=end
%>
                <p>Economic Recovery and Development</p>
              </td>
              <td width="150" class="center">
                <p>
                  <%#= project.countries.map(&:name).to_sentence %>
                  Haiti
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom_white"></div>
  </div>



  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Your Active Projects (7)</h2>
        <p>
          <%= link_to(admin_projects_path(:status => "active")) do %>View All Active Projects<% end %>
        </p>
      </div>
    </div>

    <div class="med information">
      <h3>Countries (3)</h3>
      <ol class="countries_list clearfix">
        <li>
          <span class="count">7</span>
          <!-- # here should be country ID -->
          <%= link_to(admin_projects_path(:country => 320645)) do %>Morocco<% end %>
        </li>
        <li>
          <span class="count">4</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Iran<% end %>
        </li>
        <li>
          <span class="count">4</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Uzbekistan<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Afghanistan<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Albania<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Bulgaria<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Congo<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Dominica<% end %>
        </li>
        <li>
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Egypt<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Finland<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Guyana<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Haiti<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Italy<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Japan<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Latvia<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Myanmar<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Nauru<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Oman<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Pakistan<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Qatar<% end %>
        </li>
      </ol>

      <!-- If over 20 countries, split the rest into other section -->
      <button
        class="link-button collapse-button"
        aria-controls="more-active-countries"
        aria-expanded="false">
          Show More...
      </button>

      <ol id="more-active-countries" class="countries_list clearfix collapse">
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Romania<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Saint Helena<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Tonga<% end %>
        </li>
        <li>
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:country => 320645)) do %>Ukraine<% end %>
        </li>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <h3>Sectors (8)</h3>
      <ol class="sectors_list clearfix">
        <li class="active">
          <span class="count">7</span>
          <!-- # here should be sector ID -->
          <%= link_to(admin_projects_path(:sector => 1)) do %>Agriculture<% end %>
        </li>
        <li class="active">
          <span class="count">5</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Economic Recovery and Development<% end %>
        </li>
        <li class="active">
          <span class="count">3</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Health<% end %>
        </li>
        <li class="active">
          <span class="count">2</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Human Rights Democracy and Governance<% end %>
        </li>
        <li class="active">
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Communications/Technology<% end %>
        </li>
        <li class="active">
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Education<% end %>
        </li>
        <li class="active">
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Other<% end %>
        </li>
        <li class="active">
          <span class="count">1</span>
          <%= link_to(admin_projects_path(:sector => 1)) do %>Water Sanitation and Hygiene<% end %>
        </li>
        <li>
          <span class="count">0</span>
          Communications
        </li>
        <li>
          <span class="count">0</span>
          Disaster Management
        </li>
        <li>
          <span class="count">0</span>
          Energy
        </li>
        <li>
          <span class="count">0</span>
          Environment
        </li>
        <li>
          <span class="count">0</span>
          Food Aid
        </li>
        <li>
          <span class="count">0</span>
          Humanitarian Aid
        </li>
        <li>
          <span class="count">0</span>
          Mining and Extractive Resources
        </li>
        <li>
          <span class="count">0</span>
          Non-food Relief Items (NFIs)
        </li>
        <li>
          <span class="count">0</span>
          Peace and Security
        </li>
        <li>
          <span class="count">0</span>
          Protection
        </li>
        <li>
          <span class="count">0</span>
          Safety Nets
        </li>
        <li>
          <span class="count">0</span>
          Shelter and Housing
        </li>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <h3>Partners and Donors (5)</h3>
      <ul class="bulleted_list">
        <li>
            American Jewish Joint Distribution Committee
        </li>
        <li>
            American Jewish Joint Distribution Committee
        </li>
        <li>
            American Jewish Joint Distribution Committee
        </li>
        <li>
            American Jewish Joint Distribution Committee
        </li>
        <li>
            American Jewish Joint Distribution Committee
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


    <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">Your Closed Projects (3)</h2>
      </div>
    </div>

    <div class="med information">
      <h3>Countries (1)</h3>
      <ol class="countries_list clearfix">
        <li>
          <span class="count">3</span>
          Afghanistan
        </li>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <h3>Sectors (2)</h3>
      <ol class="sectors_list clearfix">
        <li class="active">
          <span class="count">3</span>
          Agriculture
        </li>
        <li class="active">
          <span class="count">2</span>
          Economic Recovery and Development
        </li>
        <li>
          <span class="count">0</span>
          Communications
        </li>
        <li>
          <span class="count">0</span>
          Communications/Technology
        </li>
        <li>
          <span class="count">0</span>
          Disaster Management
        </li>
        <li>
          <span class="count">0</span>
          Education
        </li>
        <li>
          <span class="count">0</span>
          Energy
        </li>
        <li>
          <span class="count">0</span>
          Environment
        </li>
        <li>
          <span class="count">0</span>
          Food Aid
        </li>
        <li>
          <span class="count">0</span>
          Health
        </li>
        <li>
          <span class="count">0</span>
          Humanitarian Aid
        </li>
        <li>
          <span class="count">0</span>
          Human Rights Democracy and Governance
        </li>
        <li>
          <span class="count">0</span>
          Mining and Extractive Resources
        </li>
        <li>
          <span class="count">0</span>
          Non-food Relief Items (NFIs)
        </li>
        <li>
          <span class="count">0</span>
          Other
        </li>
        <li>
          <span class="count">0</span>
          Peace and Security
        </li>
        <li>
          <span class="count">0</span>
          Protection
        </li>
        <li>
          <span class="count">0</span>
          Safety Nets
        </li>
        <li>
          <span class="count">0</span>
          Shelter and Housing
        </li>
        <li>
          <span class="count">0</span>
          Water Sanitation and Hygiene
        </li>
      </ol>
    </div>

    <div class="med information">
      <hr>

      <h3>Partners and Donors (2)</h3>
      <ul class="bulleted_list">
        <li>
            American Jewish Joint Distribution Committee
        </li>
        <li>
            American Jewish Joint Distribution Committee
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <div class="block">
    <div class="top"></div>
    <div class="med information">
      <div class="header">
        <h2 class="museo_sans">NGO Aid Map</h2>
      </div>
    </div>
    <div class="med information">
      <ul>
        <li>
          <label>Global Total Projects</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Project.count) %>
          </p>
        </li>
        <li>
          <label>Global Active Projects</label>
          <p class="museo_sans">
            <!-- TODO - make active, not total -->
            <%= number_with_delimiter(Project.count) %>
          </p>
        </li>
        <li>
          <label>Reporting Organizations</label>
          <p class="museo_sans">
            <%= number_with_delimiter(Organization.count) %>
          </p>
        </li>
        <li>
          <label>Countries</label>
          <p class="museo_sans">
            <!-- TODO: # of countries with Active projects -->
            80
          </p>
        </li>
      </ul>
    </div>
    <div class="bottom_white"></div>
  </div>


  <% if current_user.admin? -%>
    <% @organization_sites.compact.each do |site| -%>
      <div class="block">
        <div class="top"></div>
        <div class="med information">
          <div class="header">
            <h2 class="museo_sans"><%= link_to site.name, admin_projects_path(:q => '', :site => site.site_id) %></h2>
            <span class="ngo_activity">
              <p><%= site.active_projects_count %><em>active</em></p>
              <p><%= site.closed_projects_count %><em>closed</em></p>
            </span>
          </div>
          <div class="info_list">
            <ul>
              <li>
                <h4>SITE DESCRIPTION</h4>
                <p><%= site.internal_description %></p>
              </li>
              <li>
                <h4>DONATION INFORMATION</h4>
                <% site.donation_information.each do |info| -%>
                  <p><%= raw info %></p>
                <% end -%>
              </li>
              <li class="last">
                <h4>DATA CONTACT</h4>
                <% site.data_contact_information.each do |info| -%>
                  <p><%= raw info %></p>
                <% end -%>
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom_white"></div>
      </div>
    <% end -%>
  <% end -%>

  </div>


<script type="text/javascript">
  $('.collapse-button').each(function() {
    var controlsID = $(this).attr('aria-controls');
    var $section   = $('#' + controlsID);

    $(this).click(function() {
      var expanded = $(this).attr('aria-expanded') === 'true' ? true : false;
      $section.toggleClass('-expanded', !expanded);
      $(this).toggleClass('-expanded', !expanded);
      $(this).attr('aria-expanded', !expanded);
    })
  });
</script>
