<%= render 'new_partials/map' %>

<%= render 'new_partials/categories_selector' %>

<div class="row">
  <aside>
    <div class="grid-4">

      <%= render 'new_partials/aside/projects' %>

      <%= render 'new_partials/aside/organizations' %>

      <% cache("#{@site.id}/home/projects_by_cluster_sector") do %>
        <div class="project-sectors mod-info">
          <h3>Project sectors</h3>
          <div class="mod-project-sectors">
            <ul id="clustersView">
              <% @site.projects_sectors_or_clusters.each do |category, count| %>
                <% unless category.name.eql?('N/A') %>
                  <li>
                    <div class="tooltip">
                      <span class="body_tooltip">
                        <label><%= category.name %></label>
                      </span>
                      <span class="bottom_tooltip"></span>
                    </div>
                    <a class="<%= category.css_class %> icon_statistics" href="<%= category.is_a?(Cluster) ? cluster_path(category) : sector_path(category) %>" data-value="<%= count %>"><span class="aller"><%= count %></span></a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <% cache("#{@site.id}/home/projects_by_location") do %>
        <%= render 'new_partials/aside/project_locations' %>
      <% end %>

      <% cache("#{@site.id}/home/organizations") do %>
        <div class="affiliated-organizations mod-info">
          <div class="mod-affiliated-organizations" >
            <h3>Some organizations</h3>
            <% @site.projects_organizations[0...9].each do |organization, count| %>
              <li><%= link_to organization.name, organization_path(organization) %> - <%= pluralize(count, 'project') %></li>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </aside>

  <section class="content">
    <div class="grid-12 offset-1">
      <h1 class="section-title"><%= @site.name %></h1>

      <%= render :partial => 'new_partials/downloads', :locals => { :csv_path => "#{url(@site)}/.csv", :xls_path => "#{url(@site)}/.xls", :kml_path => "#{url(@site)}/.xml" } %>

      <%= render "new_partials/index_projects" %>

    </div>
  </section>
</div>
