<script>

  $('form').on('submit', function(e){
     e.preventDefault();
     alert("Hi");
     $.ajax({
        type     : "POST",
        cache    : false,
        url      : $(this).attr('action'),
        data     : $(this).serialize(),
        success  : function(data) {
            $("#results").empty().append(data);
        }
    });
  });

</script>

<div id="layout">
  <div id="pages">
    <div id="relative_content" class="left">
      <div class="outer_head">
        <div class="head">
          <h1>Report</h1>
        </div>
      </div>
      <div class="body">
        <div class="main_layout">
  <div class="block">
    <div class="long_search">
      <span class="top"></span>
      <div class="content padding">
        <%= form_tag(report_generate_path(:format=>:json), :method => :get, :class => :search) do %>
          <label>SEARCH BY TEXT</label>
          <input type="text" value="<%= params[:q] %>" placeholder = "Search projects by name, place,..." name="q" class="main_search"/>
          <input type="submit" value="Enviar" />
          <hr>
          <ul class="combo_search_select clearfix">
            <li class="comboselect">
              <label>Organization</label>@
              <%= select_tag :organization,
                options_for_select(@org_combo_values, params[:organization]), :class => :"chzn-select", :multiple => true, :size => 5 %>
              <%= select_tag :organization_include, options_for_select({:include => 'include', :exclude =>'exclude'}) %>
            </li>
<!--             <hr>
            <li class="comboselect">
              <label>Layer</label>
              <%= select_tag :layer,
                options_for_select([['All',0]] + Layer.get_select_values.collect{ |l| [l.title, l.title] }, params[:layer]), :class => :"chzn-select", :multiple => true, :size => 5%>
                <%= select_tag :layer_op, options_for_select(['>', '=', '<', '>=', '<=']) %>
                <%= text_field_tag (:layer_unit) %>
            </li>  -->
            <li class="comboselect">
              <label>COUNTRY</label>
              <%= select_tag :country,
                options_for_select(@countries_combo_values, params[:country]), :class => :"chzn-select", :multiple => true, :size => 5 %>
              <%= select_tag :country_include, options_for_select({:include => 'include', :exclude =>'exclude'}) %>

            </li>
            <hr>
            <li class="comboselect">
              <label>SECTOR</label>
              <%= select_tag :sector,
                options_for_select(@sectors_combo_values, params[:sector]), :class => :"chzn-select", :multiple => true, :size => 5 %>
                <%= select_tag :sector_include, options_for_select({:include => 'include', :exclude =>'exclude'}) %>
            </li>
            <hr>
            <li class="comboselect">
              <label>DONOR</label>
              <%= select_tag :donor,
                options_for_select(@donors_combo_values, params[:donor]), :class => :"chzn-select", :multiple => true, :size => 5%>
                <%= select_tag :donor_include, options_for_select({:include => 'include', :exclude =>'exclude'}) %>
            </li>

            <hr>
            <li class="comboselect date">
              <label>Start date</label>
              <div class="select_date">
                <%= select_date @date_start, :prefix => :start_date %>
                <!-- <%= select_tag :start_date_op, options_for_select(['>', '=', '<', '>=', '<=']) %> -->
              </div>
            </li>
            <hr>
            <li class="comboselect date">
              <label>End date</label>
              <div class="select_date">
                <%= select_date @date_end, :prefix => :end_date %>
                <!-- <%= select_tag :en1d_date_op, options_for_select(['>', '=', '<', '>=', '<=']) %> -->
              </div>
            </li>

          </ul>
        <% end %>
      </div>
      <span class="bottom"></span>
    </div>
  </div>
</div>

<div class="block" id="results">

</div>
<script src="/app/javascripts/backoffice/smbtc-reports.js" type="text/javascript" charset="utf-8"></script>

      </div>
    </div>
  </div>
</div>

<script src="/app/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>
