<footer class="mod-footer">
	<div class="footer-top">
    <div class="row">
      <div class="grid-12">
    		<div class="mod-footer-top">
          <nav>
            <ul>
              <li><a href="/" class="home <%= if action_name == 'home' then 'active' else 'inactive' end %>">home</a></li>
              <li><a href="/about" class="about <%= if action_name == 'about' then 'active' else 'inactive' end %>">about</a></li>
              <li><a href="/news" class="news <%= if action_name == 'news' then 'active' else 'inactive' end %>">news</a></li>
              <li><a href="/contact" class="contact <%= if action_name == 'contact' then 'active' else 'inactive' end %>">contact us</a></li>
              <li><a href="/access" class="access <%= if action_name == 'access' then 'active' else 'inactive' end %>">member access</a></li>
            </ul>
          </nav>
    		</div>
      </div>
    </div>
	</div>

	<div class="footer-bottom">
		<div class="row">
			<div class="grid-12">
				<div class="mod-footer-bottom">
					<img src="" alt="Interaction´s NGO Aid Map logo">
          <img src="" alt="Interaction logo">
          <div class="signature">
            <p>NGO Aid Map</p>
            <p>Copyrighted by InterAction @2014 | Developed by <a href="#">Simbiótica</a></p>
          </div>
				</div>
			</div>
		</div>
	</div>
</footer>
