<header class="mod_header">
  <div class="row">
    <div class="grid-17">
    	<a href="/"><img src="" alt="Interaction´s NGO aid map logo"></a>
    	<nav>
    		<ul>
    			<li><a href="/" class="home <%= if action_name == 'home' then 'active' else 'inactive' end %>">home</a></li>
    			<li><a href="/about" class="about <%= if action_name == 'about' then 'active' else 'inactive' end %>">about</a></li>
    			<li><a href="/news" class="news <%= if action_name == 'news' then 'active' else 'inactive' end %>">news</a></li>
    			<li><a href="/contact" class="contact <%= if action_name == 'contact' then 'active' else 'inactive' end %>">contact us</a></li>
    			<li><a href="/access" class="access <%= if action_name == 'access' then 'active' else 'inactive' end %>">member access</a></li>
    			<li><a href="http://www.interaction.org/" class="interaction"><img src="" alt="interaction logo"></a></li>
    		</ul>
    	</nav>
    </div>
  </div>
</header>
