<header class="mod-header">
  <div class="row">
    <div class="grid-3">
    	<a href="/" class="aid-map-logo"><%= image_tag "aid-map-logo.png", :alt  => "interaction aid map logo" %></a>
    </div>

    <div class="grid-7 offset-4">
    	<nav>
    		<ul>
    			<li class="home"><a href="/" class="index-item home <%= if action_name == 'home' then 'active' else 'inactive' end %>">home</a></li>
    			<li class="about">
            <a href="/about" class="index-item about <%= if action_name == 'about' then 'active' else 'inactive' end %>">about</a>
            <ul class="submenu">
              <li><a href="#">Purpose</a></li>
              <li><a href="#">Getting on the map</a></li>
              <li><a href="#">staff list</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Of interest</a></li>
            </ul>
          </li>
    			<li class="data"><a href="/data" class="index-item data <%= if action_name == 'data' then 'active' else 'inactive' end %>">data</a></li>
    			<li class="access"><a href="/access" class="index-item access <%= if action_name == 'access' then 'active' else 'inactive' end %>">member access</a></li>
    		</ul>
    	</nav>
    </div>

    <div class="grid-3">
      <a href="http://www.interaction.org/" class="interaction-logo"><%= image_tag "interaction-logo.png" , :alt  => "interaction logo" %></a>
    </div>
  </div>
</header>
