<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IOM - Administrator</title>
    <%= stylesheet_link_tag 'backoffice/layout.css', 'backoffice/smbtc-layout.css', 'backoffice.css', 'backoffice/jquery.ui.min.css' %>

    <%= javascript_include_tag 'backoffice/jquery.min.js', 'backoffice/jquery.ui.js', 'backoffice/iati.js' %>

    <%= csrf_meta_tag %>

    <% if Rails.env.development? %>
      <link rel="icon" type="image/png" href="/app/images/favicon-dev.png">
    <% else %>
      <link rel="icon" type="image/png" href="/dist/images/favicon.png">
    <% end %>
  </head>
  <body>

    <% if logged_in? %>
        <div class="mod-backoffice-menu">

          <a href="<%= admin_admin_path %>" class="interaction-logo"><%= image_tag "interaction-white.svg", :alt  => "interaction logo", :height => '98', :width => '150' %></a>

          <ul class="admin-menu">
            <% if current_user.admin? -%>
              <li><%= link_to('settings', edit_admin_setting_path(Settings.first)) %></li>
            <% end -%>
            <li class="last"><%= link_to('close', logout_path) %></li>
          </ul>

          <%= render :partial => 'admin/shared/main-menu' %>

        </div> <!--  mod-backoffice-menu -->
    <% end %>


    <% if flash[:notice] -%>
      <div class="flash">
        <div class="notice"><%= raw flash[:notice] %></div>
      </div>
    <% end -%>
    <% if flash[:error] -%>
      <div class="flash">
        <div class="notice"><%= raw flash[:error] %></div>
      </div>
    <% end -%>

    <div class="row">
      <%= yield %>
    </div>


    <% if logged_in? %>
      <div class="mod-backoffice-footer">
        <div class="inner_footer">
          <a class="logo" href="<%= admin_admin_path %>" target="_blank">
            <%= image_tag "interaction-white.svg", :alt  => "interaction logo", :height => '65', :width => '100' %>
          </a>
          <ul>
            <li class="last"><a href="/">ngoaidmap</a></li>
          </ul>
        </div>
      </div>

      <div id="modal_window">
        <div class="alert">
          <div class="top_border"></div>
          <h4></h4>

          <ul id="errors">
          </ul>

          <p></p>
          <div class="messages">
            <a class="cancel">cancel</a>
            <a href="#" class="button remove"></a>
          </div>
          <div class="bottom_border"></div>
        </div>
      </div>
    <% end %>

  </body>
</html>
