<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NGO Aid Map</title>
    <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css", "main" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&amp;v=3.3", "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js", "../vendor/requirejs/require", "main" %>
  </body>
</html>
