<!DOCTYPE html>
<html>
<head>
  <title>NGO Aid Map</title>
  <%= stylesheet_link_tag "main", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/header' %>

<%= yield %>

<%= render '/layouts/footer' %>

<%= javascript_include_tag "main" %>
</body>
</html>
