<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NGO Aid Map</title>
    <%= stylesheet_link_tag "main" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <script src="/app/vendor/requirejs/require.js" data-main="/app/javascripts/main.js"></script>
  </body>
</html>
