<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% unless CGI.unescapeHTML(title) == 'global' %><%= CGI.unescapeHTML(title) %><% else %>Welcome<% end %> · NGO Aid Map</title>
    <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" %>
    <%= stylesheet_link_tag "lib/jquery-ui/css/no-theme/jquery-ui-1.10.4.custom.css", "vendor/select2/select2.css", "main" %>
    <link rel="icon" type="image/png" href="http://www.interaction.org/sites/default/files/interaction_favicon_0.png">
    <meta name="viewport" content="width=980px">
    <%= csrf_meta_tag %>

    <% unless content_for?(:js_vars) %>
      <% if defined?(@map_data) %>
        <script>
          <% if @site.overview_map_lat && @site.overview_map_lon %>
          var map_center = [<%= @site.overview_map_lat %>, <%= @site.overview_map_lon %>];
          <% else %>
          var map_center = [];
          <% end %>
          var map_zoom = <%= @site.overview_map_zoom %>;
          var chco = '<%= @overview_map_chco %>';
          var chf = '<%= @overview_map_chf %>';
          var chld = '<%= @chld %>';
          var chd = '<%= @chd %>';
          var map_data = <%=raw(@map_data)%>;
          var max_count = <%=@map_data_max_count%>;
          var map_type = '<%= @filter_by_location.present?? "administrative_map" : "overview_map" %>';
          var theme = "<%= @site.theme_id %>";
          var kind = window.location.pathname.split('/')[1];
          var stylez = <%=raw @site.map_styles  %>
          var empty_layer = <%= @empty_layer.present?? @empty_layer : false %>;
        </script>
      <% end %>
    <% else %>
      <%= yield :js_vars %>
    <% end %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= render 'new_partials/embed_map' %>

    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&amp;v=3.3" %>
    <%= javascript_include_tag "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js" %>
    <%= javascript_include_tag "../vendor/requirejs/require", "main" %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= @site.google_analytics_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

    <!-- START: Feedback -->
    <a href="http://questionpro.com/a/TakeSurvey?id=3822025" class="nyroModal" target="_blank" style="position:fixed; top:350px; left:0px; z-index:100;">Feedback</a>
    <!-- END: Feedback -->
  </body>
</html>
